.nav-block {
	padding: 0;
	list-style: none;
	margin: 0 -6px 20px -6px;
	@include clearfix();

	> li {
		float: left;
		padding: 0 6px;

		> a {
			color: #555;
			padding: 4px 12px;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			display: inline-block;
			text-decoration: none;
			border: 1px solid #555;
			@include border-radius(3px);
		}

		> span {
			color: #555;
			padding: 4px 12px;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			display: inline-block;
			border: 1px solid #555;
			@include border-radius(3px);
			@include opacity(0.5);
		}

		i {
			font-style: normal;
		}

		&:first-child {

			> span {
				width: 60px;
				padding: 5px 0;
				@include opacity(1);
				border: 1px solid transparent;
			}
		}
	}


	&.nav-month {

		> li {

			> a {

				&:hover {
					background: #f8f8f8;
				}
			}

			&.active {

				> a {
					color: #fff;
					background: #f8c109;
					border-color: #f8c109;

					&:hover {
						background: #f8c109;
					}
				}
			}
		}
	}

	&.nav-week {

		> li {

			> a {

				&:hover {
					background: #f8f8f8;
				}
			}

			&.active {

				> a {
					color: #fff;
					background: #b8d781;
					border-color: #b8d781;

					&:hover {
						background: #b8d781;
					}
				}
			}
		}
	}

	&.nav-day {

		>li {
			margin-bottom: 5px;

			> a {
				padding: 4px 8px;
				line-height: 20px;
				border-color: transparent;

				> span {
					border-bottom: 1px dashed #555;
				}

				&:hover {

					> span {
						border-bottom-color: transparent;
					}
				}
			}

			&.active {

				> a {
					color: #fff;
					background: #b8d781;
					border-color: #b8d781;

					> span {
						border-bottom-color: transparent;
					}
				}
			}
		}
	}
}

.tab-container {

	.tabs-nav-block {
		width: 100%;
		position: relative;

		.tabs-block-arrow {
			top: 200px;
			display: none;
			color: #f8c109;
			cursor: pointer;
			font-size: 36px;
			line-height: 36px;
			position: absolute;
			text-decoration: none;

			&.prev {
				left: -25px;
			}

			&.next {
				right: -25px;
			}
		}
	}

	.tabs-item {
		display: none;

		&.active {
			display: block;
		}

		&.tabs-week {
			margin-top: 15px;
		}
	}

	.day-block {
		padding: 20px 20px;
		background: #f8f8f8;
		margin-bottom: 30px;
		@include border-radius(5px);

		h4 {
			font-size: 14px;
		}

		&.block-summary {
			background: #fff;
			margin-bottom: 0;
			border: 1px solid #555;

			h4 {
				color: #b8d781;
				font-size: 16px;
			}
		}
	}

	.day-diary {
		font-size: 12px;
		line-height: 18px;

		h4 {
			color: #f8c109;
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 0;
		}

		.table {
			width: 100%;
			margin-bottom: 10px;

			tr {

				td {
					border: none;

					&:last-child {
						text-align: right;
					}
				}
			}
		}
	}

	.btn-line {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -5px;
		list-style: none;
		text-align: right;

		li {
			padding: 0 5px;
			margin-bottom: 15px;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {

		.tabs-nav-block {
			.tabs-block-arrow {
				display: inline-block;
			}
		}

		.tabs-item {

			&.tabs-week {
				padding: 25px;
				background: #f8f8f8;
				@include border-radius(5px);
			}
		}

		.day-block {
			background: #fff;
			margin-bottom: 0;

			&.block-summary {
				border: none;
				background: #fff;
			}
		}

		.flex-row {

			.flex-col-sm-6 {
				margin-bottom: 30px;
			}
		}
	}
}


.day-comments {

	.form-control {
		padding: 0;
		border: none;
		color: #a2a2a2;
		background: transparent;
		@include placeholder(#a2a2a2);
	}
}

.list-point {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		font-size: 14px;
		line-height: 21px;
		padding-left: 10px;
		position: relative;
		margin-bottom: 10px;


		&:before {
			left: 0;
			top: 8px;
			width: 5px;
			height: 5px;
			content: '';
			background: #555;
			position: absolute;
			@include border-radius(50%);
		}
	}
}


// update 15.05

.analysis-heading {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 25px;

	span {
		display: block;
	}

	i {
		display: none;
	}

	strong {
		color: #f8c109;
		display: block;
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 35px;
		text-align: left;

		span {
			display: inline-block;
		}

		i {
			padding: 0 10px;
			font-style: normal;
			display: inline-block;
		}

		strong {
			display: inline-block;
		}
	}
}


.search-box {
	width: 200px;
	margin-bottom: 35px;
	position: relative;

	.form-search {
		z-index: 5;
		position: relative;
		background: transparent;
		padding: 4px 20px 4px 35px;
		@include border-radius(15px);
	}

	i {
		top: 7px;
		left: 10px;
		z-index: 1;
		color: #c6c6c6;
		font-size: 16px;
		position: absolute;
	}
}

.members {

	.members-row {
		margin: 0;
		padding: 0;
		width: 100%;
		display: table;
		list-style: none;

		> li {
			padding: 10px 0;
			font-size: 12px;
			line-height: 18px;
			text-align: left;
			display: table-cell;
			vertical-align: middle;

			&.member-status {
				width: 20px;
			}

			&.member-name {
				@include clearfix();

				.member-number {
					margin-right: 5px;
				}

				a {
					text-decoration: none;

					&:hover {
						font-weight: 700;
					}
				}
			}

			&.members-season {
				width: 40px;
				text-align: right;
			}

			&.members-day {
				display: none;
				text-align: center;
			}

			&.members-target {
				display: none;
			}

			&.members-symptoms {
				display: none;
			}

			.members-comments {
				display: none;
			}
		}
	}

	.m-status {
		width: 10px;
		height: 10px;
		font-size: 0;
		line-height: 0;
		background: #c8c8c8;
		display: inline-block;
		@include border-radius(50%);

		&.online {
			background: #b8d781;
		}

		&.offline {
			background: #f37c4d;
		}
	}

	.icon-season {
		width: 20px;
		height: 20px;
		font-size: 0;
		line-height: 0;
		display: inline-block;
		background: url("../img/icon_season.png") no-repeat;

		&.winter {
			background-position: 0 -60px;
		}

		&.spring {
			background-position: 0 0;
		}

		&.summer {
			background-position: 0 -40px;
		}

		&.autumn {
			background-position: 0 -20px;
		}
	}

	.member-info {
		color: #a2a2a2;
		font-size: 16px;
		float: right;
		line-height: 16px;
		margin-left: 10px;
		display: inline-block;
	}

	.m-comment {
		font-size: 12px;
		line-height: 12px;
		padding: 4px 5px;
		border: 1px solid transparent;
		@include border-radius(3px);

		&.m-comment-green {
			color: #b8d781;
			border-color: #b8d781;
		}

		&.m-comment-red {
			color: #f37c4d;
			border-color: #f37c4d;
		}
	}

	@media (min-width: $screen-sm-min) {

		.members-row {
			border-bottom: 1px solid #dedede;

			&:last-child {
				border-bottom: none;
			}

			> li {
				padding: 20px 0;

				&.member-status {
					width: 20px;
				}

				&.member-name {
					font-size: 14px;
					line-height: 20px;
					@include clearfix();

					.member-number {
						margin-right: 5px;
					}
				}

				&.members-season {
					text-align: center;
				}

				&.members-day {
					width: 40px;
					display: table-cell;
					text-align: center;
				}

				&.members-target {
					width: 100px;
					display: table-cell;
					text-align: center;
				}

				&.members-symptoms {
					width: 80px;
					display: table-cell;
					text-align: left;
				}

				&.members-comments {
					width: 180px;
					padding-left: 20px;
					text-align: left;
					display: table-cell;
				}
			}
		}

		.member-info {
			float: inherit;
		}
	}

	@media (min-width: $screen-md-min) {

	}
}


.tooltip {
	position: relative;

	&:hover {

		.tooltip-content {
			display: block;
		}
	}

	.tooltip-content {
		top: 100%;
		right: -40px;
		width: 230px;
		display: none;
		z-index: 100;
		padding: 15px 20px;
		background: #fff;
		position: absolute;
		margin-top: 20px;
		border: 1px solid #dedede;
		@include border-radius(5px);

		&:before {
			top: -15px;
			right: 40px;
			width: 16px;
			height: 15px;
			content: ' ';
			position: absolute;
			display: inline-block;
			background: url("../img/hint-arrow-down.png") 0 0 no-repeat;
		}

		.tooltip-avatar {
			width: 35px;
			height: 35px;
			display: block;
			overflow: hidden;
			@include border-radius(50%);
			margin-bottom: 10px;
		}

		.tooltip-tags {
			padding: 0;
			list-style: none;
			margin: 0 0 10px 0;

			> li {
				color: #555;
				font-size: 12px;
				line-height: 18px;
			}
		}

		.tooltip-info {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				color: #f89c2a;
				font-size: 12px;
				line-height: 18px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.tooltip-content {
			left: -25px;
			right: auto;

			&:before {
				left: 25px;
			}

			.tooltip-info {
				display: none;
			}
		}
	}
}

.member-profile {
	@include clearfix();


	.member-avatar {
		width: 40px;
		height: 40px;
		overflow: hidden;
		margin: 0 15px 10px 0;
		@include border-radius(50%);
	}

	.member-content {
		margin-bottom: 30px;

		.member-user {
			margin-bottom: 10px;
			@include clearfix();

			.member-user-name {
				float: left;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				margin-right: 5px;
			}

			.member-user-season {
				float: left;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				position: relative;
				padding-left: 25px;

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 20px;
					height: 20px;
					position: absolute;
					background: url("../img/icon_season.png") no-repeat;
				}

				&.winter {

					&:before {
						background-position: 0 -60px;
					}
				}

				&.spring {

					&:before {
						background-position: 0 0;
					}
				}

				&.summer {

					&:before {
						background-position: 0 -40px;
					}
				}

				&.autumn {

					&:before {
						background-position: 0 -20px;
					}
				}
			}
		}


		.member-tags {
			padding: 0;
			list-style: none;
			margin: 0 0 10px 0;

			> li {
				color: #555;
				font-size: 14px;
				line-height: 22px;
			}
		}

		.member-info {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				color: #f89c2a;
				font-size: 14px;
				line-height: 22px;
			}
		}
	}

	.member-nav {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 0 30px 0;
		max-width: 270px;


		> li {
			display: inline-block;
			margin: 0 0 10px 0;

			&:nth-child(odd) {
				width: 110px;
			}

			> a {
				color: #555;
				font-size: 14px;
				line-height: 16px;
				padding: 3px 6px;
				text-decoration: none;
				display: inline-block;
				text-align: center;
				border: 1px solid transparent;
				@include border-radius(3px);

				span {
					border-bottom: 1px dashed #555;
				}

				&:hover {

					span {
						border-bottom-color: transparent;
					}
				}
			}

			&.active {

				> a  {
					border-color: #555;

					span {
						border-bottom-color: transparent;
					}
				}
			}
		}
	}

	.member-source {
		background: #f5f5f5;
		padding: 30px 20px;
		@include border-radius(5px);
	}


	.member-item {
		display: none;

		&.active {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {

		.member-avatar {
			float: left;
		}

		.member-content {
			float: left;
			width: 300px;
			padding-right: 50px;
			margin-bottom: 40px;

			.member-user {

				.member-user-name {
					float: none;
					display: block;
				}

				.member-user-season {
					float: none;
					display: block;
				}
			}
		}

		.member-nav {
			float: left;
			margin-bottom: 40px;
		}

		.member-source {
			float: left;
			width: 100%;
			padding: 40px 50px;
		}

	}
}
