* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


h2 {
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 20px;
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {
		font-size: 28px;
		margin-bottom: 70px;
	}
}

h4 {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 20px;

	@media (min-width: $screen-md-min) {
		font-size: 18px;
		margin-bottom: 26px;
	}
}

.tabs {

	.tabs-nav {

	}

	.tabs-item {
		display: none;

		&.active {
			display: block;
		}
	}
}

.fancybox-scroll {
	height: auto !important;
}


.fancybox-skin-adv {
	position: relative;
	background: transparent;
	color: #000;
	text-shadow: none;
	@include border-radius(0);
}

.fancybox-opened {

	.fancybox-skin-adv {
		@include box-shadow(none);
	}
}

.fancybox-scroll {
	overflow: inherit !important;
}

.fancybox-skin {
	background: transparent !important;
}

.mb25 {
	margin-bottom: 25px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb45 {
	margin-bottom: 45px;
}

#tooltip {
	display: none;
	max-width: 260px;
	z-index: 999;
	font-size: 14px;
	line-height: 18px;
	padding: 15px 20px;
	position: absolute;
	background: #ffffff;
	@include box-shadow(0px 10px 30px 0px rgba(0, 0, 0, 0.2));


	&:before {
		width: 43px;
		height: 22px;
		top: 100%;
		left: 50%;
		content: '';
		margin-left: -22px;
		position: absolute;
		background: url("../img/tooltip__arrow.png") 0 0 no-repeat;
	}

	p {
		margin-bottom: 0;
	}

	@media (min-width: $screen-sm-min) {
		display: block;
	}
}

