.cab {
	padding-top: 45px;
	background: #f5f5f5;
	padding-bottom: 85px;
}

.cab-side {
	width: 290px;
	position: relative;

	.nav-home {
		width: 38px;
		height: 38px;
		font-size: 0;
		outline: none;
		line-height: 0;
		display: inline-block;
		text-decoration: none;
		@include border-radius(5px);
		background: #fff url("../img/icon-home-yellow.png") 50% 50% no-repeat;
	}

	.nav-toggle {
		width: 38px;
		height: 38px;
		font-size: 0;
		outline: none;
		line-height: 0;
		background: #fff;
		padding-top: 10px;
		text-align: center;
		position: relative;
		display: inline-block;
		text-decoration: none;
		@include border-radius(5px);

		&:before {
			left: 50%;
			top: 100%;
			content: '';
			width: 14px;
			height: 8px;
			display: none;
			margin-left: -7px;
			position: absolute;
			background: url("../img/nav-toggle-arrow.png") 0 0 no-repeat;
		}

		span {
			width: 20px;
			height: 4px;
			margin-bottom: 3px;
			background: #f8c109;
			display: inline-block;
			@include border-radius(2px);
		}
	}

	&.open {

		.nav-toggle {
			background: #f8c109;

			&:before {
				display: block;
			}

			span {
				background: #fff;
			}
		}

		.cab-side-nav {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {

		.nav-toggle {

			&:before {
				top: 50%;
				left: 100%;
				margin-left: 0;
				margin-top: -7px;
				width: 8px;
				height: 14px;
				background-position: 0 -8px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		float: left;
		width: 265px;
		overflow: hidden;
		background: #fff;
		@include border-radius(5px);

		.nav-toggle {
			display: none;
		}

		.nav-home {
			background: #fff url("../img/icon-home-gray.png") 50% 50% no-repeat;
		}
	}
}

.cab-side-nav {
	right: 0;
	top: 100%;
	z-index: 999;
	width: 265px;
	display: none;
	padding: 15px 0 0 15px;
	position: absolute;

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
		list-style: none;
		background: #fff;
		@include border-radius(5px);
		@include box-shadow( 0px 3px 5px 0px rgba(0, 0, 0, 0.15));
	}

	li {
		border-bottom: 1px solid #f5f5f5;

		&:first-child {

			a {
				@include border-radius(5px 5px 0 0);
			}
		}

		&:last-child {
			border-bottom: none;

			a {
				@include border-radius(0 0 5px 5px);
			}
		}

		a {
			color: #a2a2a2;
			width: 100%;
			font-size: 14px;
			background: #fff;
			line-height: 20px;
			position: relative;
			display: block;
			border: 1px solid #fff;
			padding: 9px 40px 9px 50px;

			&:after {
				left: -1px;
				top: -1px;
				bottom: -1px;
				width: 5px;
				content: '';
				position: absolute;
				background: #f89c2a;
			}

			&:before {
				top: 50%;
				left: 20px;
				width: 20px;
				height: 20px;
				content: ' ';
				margin-top: -10px;
				position: absolute;
				display: inline-block;
				background: url("../img/navicon.png") no-repeat;
			}

			&:hover {
				border-color: #f8c109;

				&:after {
					width: 10px;
				}
			}

			span {
				top: 9px;
				right: 15px;
				color: #f89c2a;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				position: absolute;
			}
		}

		&.active {

			a {
				color: #fff;
				border-color: #f89c2a;
				background-color: #f89c2a;

				&:after {
					background: #f89c2a;
				}
			}
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {

			a {
				&:after {
					background: #b8d781;
				}

				&:hover {
					border-color: #b8d781;
				}

				span {
					color: #b8d781;
				}
			}

			&.active {

				a {
					border-color: #b8d781;
					background-color: #b8d781;

					&:after {

					}
				}
			}
		}

		&:nth-child(1) {
			a {
				&:before {
					background-position: 0 0;
				}

			}

			&.active {

				a {
					&:before {
						background-position: -20px 0;
					}
				}
			}
		}

		&:nth-child(2) {

			a {
				&:before {
					background-position: 0 -20px;
				}

			}

			&.active {

				a {
					&:before {
						background-position: -20px -20px;
					}
				}
			}
		}

		&:nth-child(3) {
			a {
				&:before {
					background-position: 0 -40px;
				}

			}

			&.active {

				a {
					&:before {
						background-position: -20px -40px;
					}
				}
			}
		}

		&:nth-child(4) {
			a {
				&:before {
					background-position: 0 -60px;
				}

			}

			&.active {

				a {
					&:before {
						background-position: -20px -60px;
					}
				}
			}
		}

		&:nth-child(5) {
			a {
				&:before {
					background-position: 0 -80px;
				}
			}

			&.active {

				a {
					&:before {
						background-position: -20px -80px;
					}
				}
			}
		}

		&:nth-child(6) {
			a {
				&:before {
					background-position: 0 -100px;
				}

			}

			&.active {

				a {
					&:before {
						background-position: -20px -100px;
					}
				}
			}
		}

		&:nth-child(7) {
			a {
				&:before {
					background-position: 0 -120px;
				}

			}

			&.active {

				a {
					&:before {
						background-position: -20px -120px;
					}
				}
			}
		}

		&:nth-child(8) {
			a {
				&:before {
					background-position: 0 -140px;
				}
			}

			&.active {

				a {
					&:before {
						background-position: -20px -140px;
					}
				}
			}
		}

		&:nth-child(9) {
			a {
				&:before {
					background-position: 0 -160px;
				}
			}

			&.active {

				a {
					&:before {
						background-position: -20px -160px;
					}
				}
			}
		}

		&:nth-child(10) {
			a {
				&:before {
					background-position: 0 -180px;
				}
			}

			&.active {

				a {
					&:before {
						background-position: -20px -18px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		top: 0;
		left: 100%;
		padding-top: 0;
	}

	@media (min-width: $screen-md-min) {
		left: 0;
		padding: 0;
		display: block;
		position: relative;

		ul {
			@include box-shadow(none);
			@include border-radius(0);
		}

		li {

			&:first-child {
				border-top: 1px solid #f5f5f5;

				a {
					@include border-radius(0);
				}
			}
		}
	}
}

.cab-main {

	.cab-topnav {
		display: none;
	}

	@media (min-width: $screen-md-min) {
		float: right;
		width: 845px;

		.cab-topnav {
			padding: 0;
			display: block;
			list-style: none;
			margin: 0 -8px 18px -8px;

			li {
				float: left;
				padding: 0 8px;

				a {
					color: #a2a2a2;
					font-size: 14px;
					line-height: 20px;
					position: relative;
					background: #ffffff;
					display: inline-block;
					border: 1px solid #fff;
					padding: 14px 30px 14px 50px;
					@include border-radius(5px);

					&:before {
						top: 50%;
						left: 20px;
						width: 20px;
						height: 20px;
						content: ' ';
						margin-top: -10px;
						position: absolute;
						display: inline-block;
						background: url("../img/navicon.png") no-repeat;
					}

					&:hover {
						border-color: #f8c109;
					}
				}

				&:nth-child(1) {
					a {
						&:before {
							background-position: 0 -80px;
						}
					}
				}

				&:nth-child(2) {
					a {
						&:before {
							background-position: 0 -100px;
						}
					}
				}

				&:nth-child(3) {
					a {
						&:before {
							background-position: 0 -120px;
						}
					}
				}

				&.active {

					a {
						color: #fff;
						background-color: #f8c109;
						border-color: #f8c109;
					}

					&:nth-child(1) {
						a {
							&:before {
								background-position: -20px -80px;
							}
						}
					}

					&:nth-child(2) {
						a {
							&:before {
								background-position: -20px -100px;
							}
						}
					}

					&:nth-child(3) {
						a {
							&:before {
								background-position: -20px -120px;
							}
						}
					}
				}
			}
		}
	}
}

.cab-content {
	background: #fff;
	padding: 25px 20px 30px 20px;
	@include border-radius(5px);

	@media (min-width: $screen-sm-min) {
		padding: 25px 35px 30px 35px;
	}

	@media (min-width: $screen-md-min) {
		padding: 25px 50px 30px 60px;
	}
}

.cab-side-top {
	width: 290px;
	margin-bottom: 20px;

	.side-user {
		float: left;
		width: 235px;
		background: #fff;
		padding: 20px 23px;
		@include border-radius(5px);

		.side-user-avatar {
			float: left;
			width: 60px;
			height: 60px;
			overflow: hidden;
			@include border-radius(50%);
		}

		.side-text {
			margin-left: 75px;
		}

		.side-user-name {
			color: #f8c109;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 5px;
		}

		.side-user-plan {
			font-size: 12px;
			line-height: 16px;

			i {
				display: block;
			}

			span {
				display: block;
				font-weight: 700;
			}
		}
	}


	.side-top-nav {
		width: 38px;
		float: right;

		li {
			margin-bottom: 18px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		margin-bottom: 0;

		.side-user {
			width: 220px;
			padding: 20px 10px 20px 20px;
		}

		.side-top-nav {
			float: left;
			padding-top: 10px;
		}
	}
}

.cab-user {
	margin-bottom: 20px;

	.cab-user-name {
		color: #f8c109;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 5px;
	}

	.cab-user-info {
		color: #a2a2a2;
		font-size: 14px;
		line-height: 20px;
	}
}

.forum-home {
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;


	th {
		color: #f89c2a;
		font-size: 14px;
		text-align: left;
		font-weight: 700;
		overflow: hidden;
		line-height: 20px;
		padding: 15px 15px;
		border: 1px solid #dedede;
		@include border-radius(4px 4px 0 0);
	}

	td {
		padding: 10px 15px;
		border: 1px solid #dedede;
		border-top: none;
	}

	tr {
		&:last-child {

			td {
				@include border-radius(0 0 4px 4px);
			}
		}
	}

	h4 {
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 5px;

		a {
			color: #555;
			text-decoration: none;
		}
	}

	.theme-info {
		font-size: 12px;
		color: #a2a2a2;

		a {
			color: #a2a2a2;
			text-decoration: none;
		}

		.theme-info-divider {
			padding: 0 6px;
		}
	}
}

.forum {
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;

	> ul {
		width: 100%;
		overflow: hidden;
		display: table;
		margin-bottom: 10px;
		border: 1px solid #dedede;
		@include border-radius(5px);

		&.forum-head {
			background: #f5f5f5;

			> li {

				&:nth-child(1) {
					padding: 14px 15px 14px 30px !important;
				}
			}
		}

		> li {
			color: #a2a2a2;
			font-size: 12px;
			font-weight: 700;
			line-height: 20px;
			padding: 10px 0;
			display: none;


			&:nth-child(1) {
				padding: 10px 15px 10px 30px;
				display: table-cell;

				.forum-info {
					color: #a2a2a2;
					font-size: 12px;
					font-weight: 400;
					line-height: 18px;
					font-style: italic;
				}
			}
		}

		h4 {
			color: #555;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			position: relative;
			margin-bottom: 0;

			&:before {
				top: 7px;
				left: -15px;
				width: 7px;
				height: 7px;
				content: '';
				position: absolute;
				background: #dedede;
				@include border-radius(50%);
			}

			a {
				color: #555;
				text-decoration: none;
			}

			&.post-new {

				&:before {
					background: #b8d781;
				}
			}
		}

		.theme-info {
			font-weight: 400;

			.theme-info-divider {
				padding: 0 4px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		> ul {

			> li {

				&:nth-child(1) {

				}

				&:nth-child(2) {
					width: 70px;
					text-align: center;
					display: table-cell;
				}

				&:nth-child(3) {
					width: 120px;
					text-align: center;
					display: table-cell;
				}

				&:nth-child(4) {
					width: 210px;
					padding-right: 40px;
					display: table-cell;
				}
			}
		}
	}
}

.pagination {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;

	> li {
		float: left;
		font-size: 12px;
		line-height: 20px;
		margin-right: 8px;
		padding-right: 15px;
		display: inline-block;
		background: url("../img/pagination-arrow.png") 100% 50% no-repeat;

		&:last-child {
			margin-right: 0;
			padding-right: 0;
			background: none;
		}

		> a {
			color: #f8c109;
			font-weight: 700;
		}

		span {
			color: #f8c109;
			font-weight: 400;
			@include opacity(0.5);
		}
	}

	@media (min-width: $screen-sm-min) {

		li {
			font-size: 16px;
		}
	}
}

.post {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		overflow: hidden;
		margin-bottom: 20px;
		border: 1px solid #dedede;
		@include border-radius(8px);
		padding: 15px 15px 10px 15px;
	}

	.post-user {
		margin-bottom: 10px;

		.post-user-image {
			float: left;
			width: 40px;
			position: relative;

			&:before {
				top: 1px;
				right: 1px;
				width: 8px;
				height: 8px;
				content: '';
				z-index: 30;
				position: absolute;
				background: #b8d781;
				@include border-radius(50%);
			}

			&:after {
				top: -3px;
				right: -3px;
				width: 16px;
				height: 16px;
				content: '';
				z-index: 10;
				background: #fff;
				position: absolute;
				@include border-radius(50%);
			}
		}

		.post-user-name {
			color: #a2a2a2;
			font-size: 10px;
			line-height: 15px;
			margin-left: 54px;
			padding-top: 5px;

			strong {
				display: block;
			}

			span {

			}
		}
	}

	.post-content {

		.post-text {
			color: #555;
			font-size: 12px;
			line-height: 16px;
		}

		h4 {
			color: #555;
			font-size: 12px;
			font-weight: 700;
			line-height: 18px;
			margin-bottom: 5px;
		}

		.post-meta {
			color: #a2a2a2;
			font-size: 12px;
			line-height: 26px;
			padding-top: 10px;

			.post-meta-divider {
				padding: 0 5px;
			}
		}

		.post-footer {
			margin-top: 15px;
			padding-top: 10px;
			border-top: 1px solid #dedede;

			a {
				height: 18px;
				font-size: 12px;
				line-height: 14px;
				position: relative;
				text-decoration: none;
				display: inline-block;

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 17px;
					height: 18px;
					position: absolute;
					background: url("../img/icon-like.png") no-repeat;
				}

				&.post-like {
					color: #83c460;
					margin-right: 12px;
					padding: 4px 0 0 20px;

					&:before {
						background-position: 0 0;
					}
				}

				&.post-dislike {
					color: #f37c4d;
					padding: 4px 0 0 20px;

					&:before {
						background-position: -17px 0;
					}
				}

				&.post-reply {
					color: #a2a2a2;
					float: right;
					padding: 2px 0 2px 20px;

					&:before {
						background-position: -34px 0;
					}
				}
			}
		}

		.post-quote {
			color: #a2a2a2;
			font-size: 10px;
			line-height: 15px;
			margin-bottom: 12px;


			.post-quote-author {
				margin-bottom: 5px;
			}

			.post-quote-text {
				font-style: italic;
				border: 1px solid #dedede;
				padding: 7px 15px 7px 24px;
				@include border-radius(6px);
				background: #f5f5f5 url("../img/icon-quote.png") 8px 9px no-repeat;
			}
		}
	}

	.post-new {
		padding: 0;
		border: none;

		.form-post {
			width: 100%;
			outline: none;
			padding: 10px 15px;
			background: #f5f5f5;
			display: inline-block;
			border: 1px solid #dedede;
			@include border-radius(8px);

			&:focus {

			}
		}

		.form-post-button {
			margin: 15px 0 0 0;
			padding: 0;
			text-align: right;
			list-style: none;

			> li {
				margin-left: 10px;
				display: inline-block;
			}
		}

		.btn-yellow {

		}

		.btn-image {
			color: #fff;
			border: none;
			height: 30px;
			width: 30px;
			outline: none;
			cursor: pointer;
			font-size: 10px;
			font-weight: 700;
			line-height: 20px;
			padding: 8px 5px;
			text-align: center;
			position: relative;
			background: transparent url("../img/btn-image.png") 50% no-repeat;
			display: inline-block;
			text-decoration: none;
			vertical-align: middle;
			text-transform: uppercase;
			touch-action: manipulation;
		}
	}


	@media (min-width: $screen-sm-min) {

		> li {
			padding: 20px 30px 10px 30px;
		}

		.post-user {
			float: left;

			.post-user-name {
				display: none;
			}
		}

		.post-content {
			margin-left: 60px;

			.post-text {
				font-size: 14px;
				line-height: 21px;
			}

			h4 {
				font-size: 14px;
				line-height: 20px;
			}

			.post-footer {
				margin-top: 0;
			}

			.post-quote {
				font-size: 12px;
				line-height: 18px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}
}



.products {

	> ul {
		margin-bottom: 8px;

		> li {
			color: #555;
			display: none;
			font-size: 12px;
			line-height: 18px;
			padding: 15px 20px;
			border: 1px solid #fff;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				> li {
					padding-left: 14px;
					position: relative;

					&:before {
						left: 0;
						top: 6px;
						content: '';
						width: 4px;
						height: 4px;
						background: #555;
						position: absolute;
						@include border-radius(50%);
					}
				}
			}

			p {
				margin-bottom: 0;
			}

			i {
				color: #a2a2a2;
			}

			&:nth-child(1) {
				display: block;
				cursor: pointer;
				padding-left: 35px;
				background: #fef3ce;
			}

			&:nth-child(2) {
				background: #e6f3df;
			}

			&:nth-child(3) {
				background: #fde5db;
				@include border-radius(0 0 6px 6px);
			}

			&.products-title {
				position: relative;
				@include border-radius(6px 6px 6px 6px);

				.fa {
					top: 18px;
					left: 20px;
					position: absolute;

					&.fa-caret-down {
						display: none;
					}

					&.fa-caret-right {
						display: inline-block;
					}
				}
			}
		}

		&:last-child {

			> li {

				&:first-child {
					padding-left: 35px;
					@include border-radius(0 0 0 6px);
				}

				&:last-child {
					@include border-radius(0 0 6px 0);
				}
			}
		}

		&.open {

			> li {
				display: block;

				&.products-title {
					@include border-radius(6px 6px 0 0);

					.fa {

						&.fa-caret-down {
							display: inline-block;
						}

						&.fa-caret-right {
							display: none;
						}
					}
				}
			}
		}
	}

	.products-header {
		display: none;
	}


	@media (min-width: $screen-sm-min) {

		> ul {
			width: 100%;
			display: table;
			margin-bottom: 0;

			> li {
				display: table-cell;
				vertical-align: top;

				&:nth-child(1) {
					width: 21%;
					cursor: default;
					display: table-cell;
					padding-left: 15px;
					background: transparent;
				}

				&:nth-child(2) {
					background: transparent;
				}

				&:nth-child(3) {
					width: 39%;
					background: transparent;
					@include border-radius(0 0 0 0);
				}

				&.products-title {
					position: relative;
					@include border-radius(0 0 0 0);

					.fa {
						top: 18px;
						left: 20px;
						position: absolute;

						&.fa-caret-down {
							display: none;
						}

						&.fa-caret-right {
							display: none;
						}
					}
				}
			}

			&:nth-child(odd) {

				> li {
					background: #e6f3df;
				}
			}

			&:nth-child(even) {

				> li {
					background: #fef3ce;
				}
			}

			&.open {

				> li {
					display: table-cell;

					&.products-title {
						@include border-radius(0 0 0 0);

						.fa {

							&.fa-caret-down {
								display: none;
							}

							&.fa-caret-right {
								display: none;
							}
						}
					}
				}
			}
		}

		.products-header {
			display: table;

			> li {
				font-weight: 700;
				text-align: center;
				background: #b8d781 !important;

				&:nth-child(1) {
					@include border-radius(6px 0 0 0);
				}

				&:nth-child(3) {
					@include border-radius(0 6px 0 0);
				}
			}
		}
	}
}
