
// Блок 1

.b01 {
	text-align: center;
	background: url("../img/b01__bg.jpg") 62% -70px no-repeat;

	.container {
		padding-top: 140px;
		padding-bottom: 40px;
		background: rgba(255,255,255, 0.6);
	}

	.heading {
		margin-bottom: 40px;

		.t1 {
			color: #555;
			font-size: 24px;
			font-weight: 700;
			line-height: 30px;
			margin-bottom: 5px;
		}

		.t2 {
			color: #f89c2a;
			font-size: 50px;
			font-weight: 700;
			line-height: 50px;
			font-style: italic;
			margin-bottom: 15px;
			font-family: $font-head;
		}

		.t3 {
			color: #555;
			font-size: 20px;
			font-weight: 700;
			line-height: 30px;
		}
	}

	.btn-block {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 22px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		text-align: left;
		background-position: 55% 0;

		.container {
			padding-top: 70px;
			padding-bottom: 85px;
			background: transparent;
		}

		.heading {
			margin-bottom: 80px;

			.t1 {
				font-size: 36px;
				line-height: 40px;
			}

			.t2 {
				font-size: 72px;
				line-height: 72px;
				margin-bottom: 25px;
			}

			.t3 {
				font-size: 24px;
				line-height: 30px;
			}
		}

		.btn-block {

			li {
				margin-bottom: 35px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		height: 750px;
		background-position: 50% 0;

		.container {
			padding-top: 120px;
			padding-bottom: 85px;
		}

		.heading {
			margin-bottom: 110px;

			.t1 {
				font-size: 50px;
				line-height: 60px;
				margin-bottom: 10px;
			}

			.t2 {
				font-size: 100px;
				line-height: 100px;
				margin-bottom: 30px;
			}

			.t3 {
				font-size: 32px;
				line-height: 40px;
			}
		}

		.btn-block {

			li {
				float: left;
				margin-right: 40px;
				margin-bottom: 0;
			}
		}
	}
}


// Блок 2 (преимущества)

.b02 {
	padding-top: 30px;
	background: #fff;

	.advantage {
		font-size: 14px;
		line-height: 20px;
		max-width: 300px;
		padding-top: 54px;
		text-align: center;
		margin: 0 auto 30px auto;

		&.item1 {
			background: url("../img/b02_icon1.png") 50% 0 no-repeat;
		}

		&.item2 {
			background: url("../img/b02_icon2.png") 50% 0 no-repeat;
		}

		&.item3 {
			background: url("../img/b02_icon3.png") 50% 0 no-repeat;
		}

		&.item4 {
			background: url("../img/b02_icon4.png") 50% 0 no-repeat;
		}

		&.item5 {
			background: url("../img/b02_icon5.png") 50% 0 no-repeat;
		}

		&.item6 {
			background: url("../img/b02_icon6.png") 50% 0 no-repeat;
		}

		h4 {
			font-size: 20px;
			line-height: 24px;
			font-style: italic;
			margin-bottom: 10px;
			font-family: $font-head;
		}

		p {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 70px;
		padding-bottom: 40px;

		.advantage {
			font-size: 16px;
			line-height: 24px;
			max-width: 290px;
			margin-bottom: 50px;

			h4 {
				font-size: 25px;
				line-height: 34px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.advantage {
			height: 220px;
			font-size: 18px;
			line-height: 27px;
			max-width: 330px;
			margin-bottom: 60px;

			h4 {
				font-size: 27px;
				line-height: 36px;
			}
		}
	}
}


// Блок 3

.b03 {
	background: #eee;
	padding-top: 45px;
	padding-bottom: 50px;

	.source {
		margin: 0 auto;
		list-style:none;
		counter-reset:li;
		max-width: 300px;
		padding:0 0 25px 0;

		li {
			font-size: 14px;
			line-height: 20px;
			position: relative;
			text-align: center;
			padding-top: 45px;
			margin: 0 0 20px 0;

			span {
				z-index: 50;
				display: block;
				position: relative;
			}

			&:before {
				top: 0;
				left: 0;
				right: 0;
				color: #fff;
				z-index: 10;
				display: block;
				font-weight: 700;
				font-size: 120px;
				line-height: 30px;
				font-style: italic;
				position: absolute;
				content:counter(li);
				counter-increment:li;
				font-family: $font-head;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 90px;
		padding-bottom: 85px;

		.source {
			padding: 0;
			max-width: inherit;

			li {
				width: 50%;
				float: left;
				font-size: 18px;
				line-height: 27px;
				padding: 60px 55px 0 55px;
				margin-bottom: 60px;
				text-align: left;

				&:before {
					left: 40px;
					font-size: 150px;
					line-height: 40px;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding-top: 95px;
		padding-bottom: 110px;

		.source {
			padding: 0;
			margin:  0 -15px 80px -15px;
			max-width: inherit;

			li {
				width: 25%;
				float: left;
				font-size: 18px;
				line-height: 27px;
				padding: 60px 30px 0 30px;
				margin: 0;
				text-align: left;

				&:before {
					left: 15px;
				}
			}
		}
	}
}


// Блок 4

.b04 {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 60px;

	.quote {
		max-width: 300px;
		margin: 0 auto;

		.quote-image {
			width: 140px;
			overflow: hidden;
			margin-bottom: 20px;
			border: 6px solid #eee;
			@include border-radius(50%);
		}

		.quote-text {
			font-size: 12px;
			line-height: 18px;
			font-style: italic;
			position: relative;

			&:before {
				top: -55px;
				right: 0;
				z-index: 5;
				content: '';
				width: 88px;
				height: 91px;
				position: absolute;
				background: url("../img/b04_quote.png");
				background-size: cover;

			}

			span {
				z-index: 20;
				display: block;
				position: relative;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 115px;
		padding-bottom: 140px;

		.quote {
			max-width: 945px;

			.quote-image {
				float: left;
				width: 235px;
				margin-bottom: 0;
				border-width: 10px;
			}

			.quote-text {
				float: right;
				width: 450px;
				font-size: 16px;
				line-height: 24px;
				padding-top: 15px;

				&:before {
					top: -25px;
					left: -33px;
					right: auto;
					width: 115px;
					height: 119px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 135px;
		padding-bottom: 150px;

		.quote {

			.quote-image {
				width: 360px;

			}

			.quote-text {
				width: 490px;
				font-size: 20px;
				line-height: 30px;


				&:before {
					top: -35px;
					left: -68px;
					right: auto;
					width: 132px;
					height: 136px;
				}
			}
		}
	}
}


// Блок 5

.b05 {
	background: url("../img/b05_bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	.table-row {
		width: 100%;
		display: table;

		.table-col {
			height: 270px;
			display: table-cell;
			vertical-align: middle;
		}
	}

	.btn-play {
		width: 45px;
		outline: none;
		display: block;
		text-decoration: none;
		margin: 0 auto 20px auto;
	}

	.text {
		color: #fff;
		font-size: 20px;
		line-height: 1.5;
		text-align: center;

		span {
			display: block;
		}

		i {
			font-family: $font-head;
		}
	}

	@media (min-width: $screen-sm-min) {

		.table-row {

			.table-col {
				height: 420px;
			}
		}

		.btn-play {
			width: 55px;
		}

		.text {
			font-size: 30px;
		}
	}

	@media (min-width: $screen-md-min) {

		.table-row {

			.table-col {
				height: 457px;
			}
		}

		.btn-play {
			width: 60px;
		}

		.text {
			font-size: 36px;
			line-height: 48px;
		}
	}
}


// Блок 6

.b06 {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 50px;

	.review-slider {
		margin: 0 auto;
		max-width: 360px;

		.review-item {
			border: none;
			outline: none;
		}

		.slick-dots {
			margin: 0;
			font-size: 0;
			line-height: 0;
			text-align: center;
			padding: 25px 0 0 0;

			li {
				margin: 0 9px;
				display: inline-block;

				button {
					margin: 0;
					padding: 0;
					width: 8px;
					height: 8px;
					outline: none;
					cursor: pointer;
					background: #eee;
					display: inline-block;
					border: 1px solid #fff;
					@include border-radius(50%);
				}

				&.slick-active {

					button {
						background: #f8c109;
						border-color: #f8c109;
					}
				}
			}
		}
	}

	.review {
		margin-top: 38px;
		text-align: center;
		background: #f5f5f5;
		position: relative;
		border: 5px solid #fff;
		@include border-radius(12px);
		padding: 50px 23px 30px 23px;

		.review-photo {
			left: 50%;
			top: -38px;
			width: 76px;
			display: block;
			overflow: hidden;
			margin-left: -38px;
			position: absolute;
			border: 4px solid #f5f5f5;
			@include border-radius(50%);
		}


		.review-author {
			font-size: 12px;
			font-weight: 700;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		.review-detail {
			font-size: 12px;
			margin-bottom: 15px;
		}

		.review-text {
			font-size: 12px;
			line-height: 18px;
			font-style: italic;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 90px;
		padding-bottom: 70px;

		.review-slider {
			max-width: 1005px;
		}

		.review {
			margin: 0 48px;
			text-align: left;
			padding: 50px 75px;
			border: none;
			@include border-radius(8px);

			.review-photo {
				top: 25px;
				left: -48px;
				width: 98px;
				margin-left: 0;
				border-width: 5px;
			}

			.review-author {
				font-size: 16px;
			}

			.review-detail {
				font-size: 16px;
			}

			.review-text {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding-top: 90px;
		padding-bottom: 90px;

		.review {

			.review-photo {

			}

			.review-author {
				font-size: 18px;
			}

			.review-detail {

			}

			.review-text {
				font-size: 18px;
				line-height: 27px;
			}
		}
	}
}


// Блок 7

.b07 {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	background: #b8d781;
	padding-bottom: 55px;

	.title {
		font-size: 32px;
		line-height: 40px;
		text-align: center;
		font-style: italic;
		margin-bottom: 25px;
		font-family: $font-head;
	}

	.text {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 30px;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 100px;
		padding-bottom: 100px;

		.title {
			font-size: 42px;
			line-height: 42px;
			margin-bottom: 45px;
		}

		.text {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 50px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 110px;
		padding-bottom: 120px;

		.title {

		}

		.text {

		}
	}
}


// Блок 8 {

.b08 {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;

	.partners {
		padding: 30px;
		margin: 0 auto;
		max-width: 300px;
		position: relative;
		border: 2px solid #eee;
		@include border-radius(8px);

		.partners-title {
			left: 0;
			right: 0;
			top: -11px;
			color: #d7d7d7;
			font-size: 10px;
			font-weight: 700;
			line-height: 20px;
			text-align: center;
			position: absolute;
			letter-spacing: 2px;
			text-transform: uppercase;

			span {
				padding: 0 10px;
				background: #fff;
				display: inline-block;
			}
		}

		.partners-list {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				width: 50%;
				float: left;
				text-align: center;

				img {
					@include img-responsive(inline-block);
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 85px;
		padding-bottom: 85px;

		.partners {
			padding: 33px 60px;
			max-width: 780px;

			.partners-title {
				font-size: 12px;
			}

			.partners-list {

				li {
					width: 25%;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 95px;
	}
}


// Регистрация

.reg {
	background: #fafafa;

	&.reg-white {
		background-color: #fff;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 90px;
		padding-bottom: 90px;
		background: url("../img/step_bg.jpg") 50% 50% no-repeat;
		background-size: cover;
	}
}

.step {
	margin: 0 auto;
	max-width: 360px;
	padding-top: 40px;
	padding-bottom: 50px;
	background: #fafafa;
	@include border-radius(5px);

	.step-heading {
		margin-bottom: 35px;

		.step-title {
			float: left;
			color: #272727;
			font-size: 16px;
			line-height: 20px;
		}

		.step-number {
			float: right;
			color: #cacaca;
			font-size: 16px;
			line-height: 20px;
		}
	}

	.form-captcha {
		width: 225px;
		margin: 0 auto 22px auto;
	}

	.form-group {

		.icr-label {
			font-size: 12px;
		}
	}

	.form-btn {
		text-align: center;
	}

	.step-box {
		color: #a2a2a2;
		padding: 20px;
		margin-bottom: 15px;
		background: #fcfcfc;
		border: 1px solid #dedede;
		@include border-radius(4px);

		label {
			font-size: 12px;
			line-height: 20px;
		}
	}

	.check-list {
		margin: 0;
		padding: 0;
		list-style:  none;

		li {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.alert {
		max-width: 250px;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 20px;

		.alert-title {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 5px;
		}

		.alert-value {
			color: #ff0000;
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 10px;
		}

		.alert-text {
			color: #ff0000;
			font-size: 10px;
			line-height: 15px;
		}
	}

	.form-group {
		margin-bottom: 25px;
	}

	@media (min-width: $screen-sm-min) {
		width: 595px;
		max-width: inherit;
		padding: 80px 125px 65px 125px;

		.step-heading {

			.step-title {
				font-size: 18px;
				line-height: 20px;
			}

			.step-number {
				font-size: 18px;
				line-height: 20px;
			}
		}


		.step-box {
			padding: 35px 50px;

			label {
				font-size: 14px;
				line-height: 21px;
			}
		}

		.step-box {
			margin-bottom: 25px;
		}


		.alert {
			max-width: 400px;
			margin: 0 auto;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 20px;

			.alert-title {
				font-size: 18px;
				line-height: 20px;
				margin-bottom: 10px;
			}

			.alert-value {
				font-size: 44px;
				line-height: 50px;
			}

			.alert-text {
				font-size: 14px;
				line-height: 22px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 616px;
		padding: 75px 128px 70px 128px;
	}
}

.reg-content {
	margin: 0 auto;
	max-width: 300px;
	background: #fff;
	padding: 25px 20px 10px 20px;

	h4 {
		margin-bottom: 30px;
	}

	.reg-row {

	}

	.reg-label {
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.reg-selector {
		padding: 0;
		list-style: none;
		margin: 0 -12px 15px -12px;

		li {
			float: left;
			margin: 0 12px 15px 12px;
		}

		&.duration {
			margin-bottom: 0;

			.icr-label {
				color: #83c460;

				.type_radio {
					border-color: #83c460;

					&:before {
						background: #83c460;
					}
				}
			}
		}

		&.target {

			.icr-label {
				color: #f8c109;

				.type_radio {
					border-color: #f8c109;

					&:before {
						background: #f8c109;
					}
				}
			}
		}

		&.season {

			.icr-label {
				color: #f6924d;

				.type_radio {
					border-color: #f6924d;

					&:before {
						background: #f6924d;
					}
				}
			}
		}
	}

	.btn-reg-info {
		color: #cacaca;
		font-size: 12px;
		line-height: normal;
		border-bottom: 1px dashed #cacaca;
	}

	.price {
		padding-top: 35px;
		max-width: 300px;
		margin: 0 auto;

		> li {
			margin-bottom: 35px;
			border: 1px solid #dedede;
			padding: 25px 30px 15px 30px;
			@include border-radius(5px);

			&:first-child {

				.price-heading {

					strong {
						color: #83c460;
					}
				}
			}

			&:last-child {

				.price-heading {

					strong {
						color: #f8c109;
					}
				}
			}
		}

		.price-heading {
			text-align: center;
			margin: 0 15px 20px 15px;
			padding: 0 0 15px 0;
			border-bottom: 1px solid #dedede;

			span {
				display: block;
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 5px;
			}

			strong {
				font-weight: 400;
				font-size: 36px;
				line-height: 40px;
				display: inline-block;
				position: relative;

				sup {
					top: 0;
					left: 105%;
					font-size: 14px;
					font-weight: 700;
					line-height: 20px;
					display: inline-block;
					position: absolute;
				}
			}
		}

		.price-info {
			padding: 0;
			list-style: none;
			margin: 0 0 25px 0;

			li {
				color: #a2a2a2;
				font-size: 12px;
				line-height: 16px;
				padding-left: 17px;
				margin-bottom: 10px;
				position: relative;

				&:last-child {
					margin-bottom: 0;
				}

				&:before {
					top: 0;
					left: 0;
					position: absolute;
					font-family: FontAwesome;
				}

				&.plus {

					&:before {
						color: #83c460;
						content: "\f00c";
					}
				}

				&.minus {

					&:before {
						color: #f37c4d;
						content: "\f00d";
					}
				}
			}
		}

		.text-bottom {
			color: #ddd;
			height: 25px;
			font-size: 12px;
			padding-top: 7px;
			text-align: center;
			font-style: italic;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 720px;
		max-width: inherit;
		padding: 55px 63px 60px 63px;
		@include border-radius(5px);

		h4 {
			text-align: center;
			margin-bottom: 45px;
		}

		.reg-label {
			float: left;
			width: 150px;
			font-size: 16px;
			font-weight: 700;
		}

		.reg-selector {
			margin-bottom: 40px;
			margin-left: 155px;

			&.season {
				margin-bottom: 10px;

				li {
					margin-bottom: 0;
				}
			}
		}

		.price {
			margin: 0 -15px;
			max-width: inherit;

			> li {
				float: left;
				width: 282px;
				margin: 0 15px;
			}

			.price-info {

				li {
					font-size: 14px;
					line-height: 18px;
					padding-left: 22px;
					margin-bottom: 15px;
				}
			}
		}

		.btn-reg-info {
			font-size: 14px;
			margin-left: 170px;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 945px;
		padding: 55px 97px 65px 97px;

		.reg-selector {

			li {
				margin-right: 40px;
			}
		}

		.price {

			> li {
				width: 360px;
				padding: 25px 55px 15px 55px;
			}
		}
	}
}


// Маодальные окна

.modal-info {
	font-size: 10px;
	line-height: 15px;
	max-width: 360px;
	background: #fff;
	padding: 25px 20px;
	border: 1px solid #e2e2e2;
	@include border-radius(5px);

	p {
		margin: 0 0 15px 0;
	}

	.gray-box {
		color: #a2a2a2;
		padding: 10px 15px;
		margin-bottom: 20px;
		background: #f5f5f5;
		@include border-radius(4px);
	}

	@media (min-width: $screen-sm-min) {
		width: 595px;
		font-size: 14px;
		line-height: 21px;
	}

	@media (min-width: $screen-md-min) {
		width: 616px;
	}
}


.season-tabs {

	.tabs-nav {
		padding: 0;
		list-style: none;
		margin: 0 -15px 10px -15px;

		li {
			width: 25%;
			float: left;
			text-align: center;

			a {
				color: #555;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				display: inline-block;
				text-decoration: none;
				border-bottom: 3px solid transparent;
			}

			&.active {

				a {
					border-bottom-color: #f8c109;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		.tabs-nav {

			li {

				a {
					font-size: 16px;
					line-height: 26px;
				}
			}
		}
	}
}


// Опросы

.test {
	margin: 0 auto;
	padding: 0 0 20px 0;

	> li {
		padding: 20px 15px;
		margin-bottom: 20px;
		border: 1px solid #dedede;
		@include border-radius(4px);

		&.active {
			border-color: #b8d781;
		}
	}

	.question {
		font-size: 14px;
		line-height: 21px;
		text-align: center;
		margin-bottom: 15px;
	}

	.answer {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;

		> li {
			position: relative;
			display: inline-block;

			&:first-child {

				&:after {
					top: 4px;
					right: 0;
					bottom: 4px;
					content: '';
					position: absolute;
					border-left: 1px solid #dedede;
				}

				label {

					&.checked {
						color: #fff;
						background: #b8d781;
					}
				}
			}

			&:last-child {
				margin-left: -1px;

				label {

					&.checked {
						color: #fff;
						background: #dedede;
					}
				}
			}
		}

		label {
			width: 53px;
			padding: 7px 0;
			color: #dedede;
			font-size: 14px;
			cursor: pointer;
			line-height: 21px;
			display: inline-block;
			@include border-radius(3px);

			.icr-item {
				display: none !important;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		> li {
			width: 100%;
			display: table;
			padding: 10px 15px;

			.question {
				font-size: 16px;
				line-height: 24px;
				text-align: left;
				padding-right: 90px;
				display: table-cell;
				vertical-align: middle;
			}

			.answer {
				width: 110px;
				display: table-cell;
				vertical-align: middle;

				label {
					font-size: 16px;
					line-height: 26px;
				}
			}
		}
	}
}

.mini-test {
	margin: 0 auto;
	padding: 0;

	> li {
		margin-bottom: 20px;
	}

	.question {
		font-size: 14px;
		line-height: 21px;
		text-align: center;
		margin-bottom: 10px;
	}

	.answer {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;

		> li {
			position: relative;
			display: inline-block;

			&:first-child {

				&:after {
					top: 4px;
					right: 0;
					bottom: 4px;
					content: '';
					position: absolute;
					border-left: 1px solid #dedede;
				}

				label {

					&.checked {
						color: #fff;
						background: #f8c109;
					}
				}
			}

			&:last-child {
				margin-left: -1px;

				label {

					&.checked {
						color: #fff;
						background: #f8c109;
					}
				}
			}
		}

		label {
			width: 53px;
			padding: 7px 0;
			color: #dedede;
			font-size: 14px;
			cursor: pointer;
			line-height: 21px;
			display: inline-block;
			@include border-radius(3px);

			.icr-item {
				display: none !important;
			}
		}
	}
}

.test-title {
	text-align: center;
	margin-bottom: 35px;
}

.page {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 30px;

	@media (min-width: $screen-sm-min) {
		background: #f5f5f5;

		.content {
			margin: 0 auto;
			max-width: 720px;
			background: #fff;
			padding: 50px 30px;
			@include border-radius(5px);
		}
	}
}

.date-group {
	margin: 0 -5px;

	> li {
		float: left;
		width: 60px;
		margin: 0 5px;

		&:last-child {
			width: 80px;
		}


	}
}

.border-box {
	padding: 14px 12px;
	background: #fcfcfc;
	border: 1px solid #dedede;
	@include border-radius(5px);

	@media (min-width: $screen-sm-min)  {
		padding: 20px 23px;
	}
}

.thanks {
	padding: 0 35px;
	color: #f89c2a;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	margin-bottom: 10px;

	@media (min-width: $screen-sm-min)  {
		font-size: 18px;
		line-height: 28px;
	}
}

.test-text {
	padding: 0 20px;
	color: #a2a2a2;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-align: center;
	margin-bottom: 30px;

	@media (min-width: $screen-sm-min)  {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 45px;
	}
}

.row {

	.col-label {
		width: 100%;
		float: left;
		padding: 0 15px;
	}

	.col-input {
		width: 100%;
		float: left;
		padding: 0 15px;
	}

	@media (min-width: $screen-sm-min) {

		.col-label {
			width: 36%;
		}

		.col-input {
			width: 64%;
		}
	}
}


.task {

	.task-nav {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 -4px 30px -4px;

		li {
			margin: 0 4px 5px 4px;
			display: inline-block;

			a {
				color: #555;
				outline: none;
				padding: 5px 5px;
				font-size: 14px;
				line-height: 17px;
				display: inline-block;
				text-decoration: none;
				@include border-radius(4px);

				span {
					border-bottom: 1px dashed #555;
				}

				&:hover {

					span {
						border-bottom-color: transparent;
					}
				}
			}

			&.active {

				a {
					color: #fff;
					background: #b8d781;

					span {
						border-bottom-color: transparent;
					}
				}
			}
		}
	}


	h3 {
		color: #f8c109;
		font-size: 18px;
		font-weight: 700;
		line-height: 22px;
		text-align: center;
	}

	.task-name {
		color: #555;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		font-style: italic;
		margin-bottom: 25px;
	}

	.task-image {
		margin-bottom: 25px;
	}

	.task-content {
		font-size: 12px;
		line-height: 18px;

		p {
			margin-bottom: 10px;
		}

		ol {

			> li {
				margin-bottom: 15px;

				ul {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						padding-left: 15px;
						position: relative;
						margin-bottom: 15px;

						&:before {
							left: 0;
							top: 7px;
							width: 4px;
							height:4px;
							content: '';
							background: #555;
							position: absolute;
							@include border-radius(50%);
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.task-image {
			display: none;
		}

		.task-content {
			margin: 0 -35px;
			padding: 50px 0;
			font-size: 14px;
			line-height: 20px;
			background: url("../images/task_01.jpg") 50% 50% no-repeat;
			background-size: cover;

			.task-inner {
				width: 405px;
				margin: 0 auto;
				background: #fff;
				@include border-radius(4px);
				padding: 30px 40px 20px 40px;
			}
		}
	}

	@media (min-width: $screen-md-min) {


		.task-image {
			display: none;
		}

		.task-content {
			margin: 0 -50px 0 -60px;

			.task-inner {
				width: 460px;
			}
		}
		
	}
}



// Payment

.payment {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 50px;

	h4 {
		text-align: center;
		margin-bottom: 30px;
	}

	.payment-program {
		width: 244px;
		margin: 0 auto;
		padding: 12px 30px;
		text-align: center;
		background: #fcfcfc;
		border: 1px solid #dedede;
		border-bottom: none;
		@include border-radius(4px 4px 0 0);

		.program-name {
			color: #555;
			font-size: 14px;
			line-height: 21px;
		}

		.program-price {
			color: #83c460;
			font-size: 14px;
			font-weight: 700;
			line-height: 26px;
		}
	}

	.payment-card {
		max-width: 560px;
		margin: 0 auto 35px auto;
		padding: 30px 20px 15px 20px;
		position: relative;
		border: 1px solid #dedede;
		@include border-radius(5px);

		label {
			display: block;
			position: relative;
			margin-bottom: 5px;
		}

		.pay-logo {
			right: 20px;
			bottom: 30px;
			position: absolute;
		}

		.pay-row {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

				&:first-child {

					.form-control {
						width: 145px;
					}
				}

				&:last-child {

					.form-control {
						width: 110px;
					}
				}
			}
		}

		.card-help {
			width: 21px;
			height: 21px;
			font-size: 0;
			line-height: 0;
			left: 90px;
			top: 2px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon-help.png") 0 0 no-repeat;
		}
	}


	@media (min-width: $screen-sm-min) {

		margin: 0 auto 240px auto;

		@include border-radius(5px);
		padding: 55px 95px 70px 95px;

		.payment-program {
			width: 405px;
		}

		.payment-card {
			padding: 40px 155px 35px 60px;

			.pay-row {

				li {

					&:first-child {
						float: left;
					}

					&:last-child {
						float: right;
						width: 120px;

						.form-control {
							width: 100%;
						}
					}
				}
			}

			.card-help {
				left: auto;
				right: 0;
			}

			.pay-logo {
				bottom: 50px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		width: 945px;

	}
}


// Rules

.rules {
	font-size: 14px;
	line-height: 21px;

	p {
		margin-bottom: 10px;
	}

	.rules-nav {
		margin: 0;
		padding: 20px 0;
		list-style: none;

		li {
			position: relative;
			margin-bottom: 10px;
			padding-left: 15px;

			&:before {
				left: 0;
				top: 9px;
				width: 4px;
				height: 4px;
				content: '';
				outline: none;
				position: absolute;
				background: #555555;
				display: inline-block;
				@include border-radius(50%);
			}

			a {
				color: #555;
				text-decoration: none;
				border-bottom: 1px dashed #555;

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}
	}

	.rules-item {
		margin-bottom: 35px;

		&:last-child {
			margin-bottom: 0;
		}

		h3 {
			color: #f89c2a;
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			margin-bottom: 15px;

			span {
				color: #a2a2a2;
				display: block;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				font-style: italic;
			}
		}
	}

	.rules-list {
		margin: 0;
		padding: 10px 0;
		list-style: none;

		> li {
			padding: 15px 15px 10px 15px;
			overflow: hidden;
			margin-bottom: 4px;
			@include border-radius(5px);

			&:nth-child(odd) {
				background: #eaf3d9;
			}

			&:nth-child(even) {
				background: #fdecb5;
			}


			h4 {
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				margin-bottom: 10px;
			}
		}
	}

	.rules-class {
		padding: 0;
		margin: 0 -10px;
		list-style: none;

		> li {
			padding: 0 10px;
			margin-bottom: 25px;

			.rules-class-inner {
				overflow: hidden;
				padding: 25px 30px;
				@include border-radius(5px);
			}

			&:nth-child(1) {

				.rules-class-inner {
					background: #fcdec9;
				}
			}

			&:nth-child(2) {

				.rules-class-inner {
					background: #fdecb5;
				}
			}

			&:nth-child(3) {

				.rules-class-inner {
					background: #daedcf;
				}
			}

			h4 {
				font-size: 16px;
				font-weight: 700;
				line-height: 20px;
				position: relative;
				margin-bottom: 20px;
				padding-bottom: 10px;

				&:before {
					left: 0;
					bottom: 0;
					content: '';
					width: 40px;
					position: absolute;
					border-bottom: 2px solid #555;
				}
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				> li {
					font-style: italic;
					position: relative;
					padding-left: 12px;
					margin-bottom: 5px;

					&:before {
						left: 0;
						top: 9px;
						width: 4px;
						height: 4px;
						content: '';
						outline: none;
						position: absolute;
						background: #555555;
						display: inline-block;
						@include border-radius(50%);
					}

				}
			}
		}
	}



	.rules-train {
		padding: 0;
		margin: 0 -10px;
		list-style: none;

		> li {
			padding: 0 10px;
			margin-bottom: 25px;

			.rules-inner {
				overflow: hidden;
				padding: 25px 33px;
				@include border-radius(5px);
			}

			&:nth-child(1) {

				.rules-inner {
					background: #eaf3d9;
				}
			}

			&:nth-child(2) {

				.rules-inner {
					background: #fdecb5;
				}
			}

			h4 {
				font-size: 16px;
				font-weight: 700;
				line-height: 20px;
				position: relative;
				margin-bottom: 20px;
				padding-bottom: 10px;

				&:before {
					left: 0;
					bottom: 0;
					content: '';
					width: 40px;
					position: absolute;
					border-bottom: 2px solid #555;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.rules-list {

			> li {
				padding: 15px 30px 10px 30px;
			}
		}

		.rules-class {

			> li {
				float: left;
				width: 33.33%;
				margin-bottom: 0;
			}
		}


		.rules-train {

			> li {
				width: 50%;
				float: left;
				margin-bottom: 0;
			}
		}
	}
}


// Messages

.messages {

	.message-avatar {
		width: 30px;
		position: relative;

		&:before {
			top: 1px;
			right: 1px;
			width: 8px;
			height: 8px;
			content: '';
			z-index: 30;
			position: absolute;
			background: #b8d781;
			@include border-radius(50%);
		}

		&:after {
			top: -3px;
			right: -3px;
			width: 16px;
			height: 16px;
			content: '';
			z-index: 10;
			background: #fff;
			position: absolute;
			@include border-radius(50%);
		}

		.image-inner {
			@include border-radius(50%);
		}
	}


	> li {
		@include clearfix();

		&.new {
			background: #f8fbf2;
		}

		&:first-child {

			.message-link {

				.col-two {
					border-top: 1px solid #eee;
				}
			}
		}
	}

	.message-link {
		color: #555;
		width: 100%;
		display: table;
		position: relative;
		text-decoration: none;

		.col-one {
			width: 60px;
			display: table-cell;
			vertical-align: top;
			padding: 10px 0 0 20px;
			border-bottom: 1px solid #fff;
		}

		.col-two {
			display: table-cell;
			vertical-align: top;
			padding: 10px 20px 20px 0;
			border-bottom: 1px solid #eee;
		}
	}

	.message-text {

		p {
			font-size: 12px;
			margin-bottom: 0;
			max-width: 500px;
		}
	}


	.message-info {

		.message-user {
			font-size: 12px;
			font-weight: 700;
			line-height: 20px;
			margin-right: 10px;
		}

		.message-time {
			color: #c8c8c8;
			font-size: 10px;
			line-height: 20px;
		}
	}


	@media (min-width: $screen-sm-min) {
		margin: 0;

		.message-avatar {
			width: 45px;
		}

		.message-link {


			.col-one {
				width: 85px;
				padding: 15px 0 0 20px;
			}

			.col-two {
				padding: 15px 15px 20px 0;
			}
		}

		.message-info {

			.message-user {
				float: left;
				font-size: 14px;
				display: inline-block;
			}

			.message-time {
				float: right;
				font-size: 12px;
				display: inline-block;
			}
		}
	}
}

.goback {
	color: #a2a2a2;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 25px;
	text-decoration: none;
	display: inline-block;

	i {
		font-size: 20px;
		line-height: 20px;
		padding-right: 5px;
	}
}

.chat-avatar {
	width: 30px;
	float: left;
	position: relative;

	&:before {
		top: 1px;
		right: 1px;
		width: 8px;
		height: 8px;
		content: '';
		z-index: 30;
		position: absolute;
		background: #b8d781;
		@include border-radius(50%);
	}

	&:after {
		top: -3px;
		right: -3px;
		width: 16px;
		height: 16px;
		content: '';
		z-index: 10;
		background: #fff;
		position: absolute;
		@include border-radius(50%);
	}

	.image-inner {
		@include border-radius(50%);
	}

	@media (min-width: $screen-sm-min) {

		width: 35px;
	}
}

.chat {
	margin: 0 -20px;
	overflow: hidden;
	@include border-radius(5px);


	.chat-item {
		padding: 10px 20px;
		@include clearfix();

		&.new {
			background: #f8fbf2;
		}
	}

	.chat-body {
		color: #a2a2a2;
		font-size: 12px;
		line-height: 18px;
		overflow: hidden;
		margin-bottom: 5px;
		padding-left: 10px;

		.chat-item {
			padding: 15px 0 10px 0;
		}


		.chat-title {
			line-height: 20px;
			margin-bottom: 5px;

			.chat-author {
				color: #555;
				font-size: 12px;
				font-weight: 700;
				margin-right: 10px;
			}

			.chat-time {
				color: #c8c8c8;
				font-size: 10px;
			}
		}

		p {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0;
		border: 1px solid #dedede;

		.chat-item {
			padding: 10px 30px 20px 30px;
		}

		.chat-body {
			font-size: 14px;
			line-height: 21px;
			padding-left: 15px;

			.chat-title {
				line-height: 26px;

				.chat-title {
					font-size: 14px;
				}

				.chat-time {
					font-size: 12px;
				}
			}
		}
	}
}

.chat-message {
	margin: 0 -20px;
	padding: 30px 20px 20px 20px;

	.chat-avatar {
		margin-right: 10px;
	}

	.chat-form-body {
		overflow: hidden;
		background: #f5f5f5;
		padding: 10px 30px 10px 10px;
		border: 1px solid #dedede;
		@include border-radius(5px);

		textarea {
			width: 100%;
			border: none;
			outline: none;
			font-size: 12px;
			line-height: 18px;
			background: transparent;
			background-image: none;

			&::-ms-clear {
				width: 0;
				height: 0;
				display: none;
			}

			&:focus {
				border-color: #a2a2a2;
				@include placeholder(transparent);
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0;
		padding: 30px 0 20px 30px;

		.chat-avatar {
			margin-right: 15px;
		}

		.chat-form-body {
			padding: 15px 40px;

			textarea {
				font-size: 14px;
				line-height: 21px;
			}
		}
	}
}


// FAQ

.faq {
	margin: 0;
	padding: 20px 0 0 0;
	list-style: none;

	li {
		padding: 20px 30px;
		margin-bottom: 20px;
		border: 1px solid #dedede;
		@include border-radius(5px);

		.faq-question {
			color: #f89c2a;
			cursor: pointer;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			display: inline-block;
			position: relative;

			&:before {
				top: 7px;
				left: -12px;
				width: 6px;
				height: 7px;
				content: '';
				position: absolute;
				display: inline-block;
				background: url("../img/icon-faq-close.png") 0 0 no-repeat;
			}


			&:after {
				top: 8px;
				left: -12px;
				width: 7px;
				height: 6px;
				content: '';
				position: absolute;
				display: none;
				background: url("../img/icon-faq.png") 0 0 no-repeat;
			}
		}

		.faq-answer {
			color: #555;
			font-size: 14px;
			line-height: 20px;
			padding-top: 15px;
			display: none;
		}

		&.open {

			.faq-question {

				&:before {
					display: none;
				}

				&:after {
					display: inline-block;
				}
			}

			.faq-answer {
				display: block;
			}
		}
	}
}

// Checklist

.checklist {
	max-width: 320px;
	background: #fff;
	padding: 50px 20px;
	@include border-radius(6px);

	.checklist-title {
		color: #b8d781;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		margin-bottom: 35px;
	}

	.checklist-weight {

		label {
			color: #555;
			display: block;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			text-align: center;
			margin-bottom: 10px;
		}

		.form-group {
			width: 140px;
			margin: 0 auto 30px auto;

			.form-control {
				text-align: center;
			}
		}
	}


	.checklist-weight-summary {
		max-width: 256px;
		padding: 15px 15px;
		position: relative;
		text-align: center;
		margin: 0 auto 40px auto;
		border: 1px solid #f8c109;
		@include border-radius(5px);

		&:before {
			left: 50%;
			top: -16px;
			width: 16px;
			height: 16px;
			content: ' ';
			margin-left: -8px;
			position: absolute;
			display: inline-block;
			background: url("../img/arrow_top.png") 0 0 no-repeat;
		}

		strong {
			display: block;
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
		}
	}

	.checklist-check {
		width: 220px;
		margin:  0 auto 20px auto;

		.icr-label {
			color : #cacaca;
			font-size: 12px;
			line-height: 18px;
		}
	}

	.check-list-summary {
		padding: 15px;
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 45px;
		border: 1px solid #f8c109;
		@include border-radius(5px);

		h4 {
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 10px;
		}
	}


	@media (min-width: $screen-sm-min) {
		max-width: 650px;
		padding: 65px 65px;

		&.checklist-mini {
			max-width: 500px;
		}

		.checklist-title {

			span {
				display: block;
			}
		}


		.check-list-summary {
			padding: 25px 30px;
		}
	}
}

.test-radio {
	margin-bottom: 40px;
	padding: 20px 30px 0 30px;
	border: 1px solid #dedede;
	@include border-radius(5px);

	> li {
		margin-bottom: 20px;
	}

	h4 {
		font-size: 14px;
		font-weight: 700;
		line-height: 21px;
		margin-bottom: 10px;
	}

	.test-inner {
		margin-left: 30px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 40px 65px 20px 65px;
	}
}



// Контакты

.contact-page {
	background: #fafafa;

	.contact {
		padding: 40px 0;
		background: #fafafa;
	}

	.contact-header {
		color: #272727;
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 40px;

		p {
			margin-bottom: 15px;
		}

		a {
			color: #83c460;
			font-weight: 700;
			text-decoration: none;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}

	.contact-body {
		margin-bottom: 40px;

		.contact-button {
			text-align: center;
		}
	}

	.contact-footer {
		color: #a2a2a2;
		font-size: 10px;
		line-height: 15px;
		text-align: center;
		position: relative;

		&:before {
			top: 0;
			left: 50%;
			content: '';
			width: 80px;
			padding-top: 20px;
			margin-left: -40px;
			position: absolute;
			border-bottom: 1px solid #dedede;
		}

		> li {
			margin-bottom: 10px;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 90px;
		padding-bottom: 90px;
		background: url("../img/contact-bg.jpg") 50% 50% no-repeat;
		background-size: cover;

		.contact {
			width: 750px;
			margin: 0 auto;
			padding: 65px 100px;
			@include border-radius(5px);
		}

		.contact-header {
			font-size: 18px;
			line-height: 27px;
			margin-bottom: 60px;

			p {
				margin-bottom: 25px;
			}
		}

		.contact-body {
			margin-bottom: 75px;

			.contact-button {
				text-align: right;
			}
		}

		.contact-footer {
			width: 100%;
			display: table;
			padding-top: 0;

			&:before {
				display: none;
			}

			> li {
				margin-bottom: 0;
				text-align: left;
				display: table-cell;
				vertical-align: top;

				&:first-child {
					width: 230px;
				}

				&:last-child {
					width: 170px;
				}
			}
		}
	}
}

// Fin

.fin {

	.fin-body {
		background: #fff;
		overflow: hidden;
		@include border-radius(5px);
	}

	.fin-header {
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		line-height: 30px;
		padding: 70px 30px;
		text-align: center;
		background: url("../img/fin-xs-bg.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	.fin-content {
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		padding: 30px 20px 60px 20px;

		.fin-text {
			margin-bottom: 30px;
		}

		.fin-form-group {
			width: 170px;
			margin: 0 auto 12px auto;

			label {
				display: block;
				font-size: 14px;
				font-weight: 700;
				line-height: 21px;
				margin-bottom: 12px;
				text-align: center;
			}

			.form-control {
				text-align: center;
			}
		}

		.fin-start {
			text-align: center;
			font-style: italic;
			margin-bottom: 25px;
		}

		.fin-result {
			color: #f8c109;
			font-size: 18px;
			line-height: 29px;
			text-align: center;
			margin-bottom: 30px;

			strong {
				font-size: 20px;
				display: block;
			}
		}

		.fin-test {
			max-width: 330px;
			position: relative;
			margin: 0 auto 45px auto;
			padding: 20px 45px 0 45px;
			border: 1px solid #dedede;
			@include border-radius(5px);

			&:before {
				left: 50%;
				top: -16px;
				width: 20px;
				height: 16px;
				content: ' ';
				position: absolute;
				margin-left: -10px;
				background: url("../img/arrow_top_gray.png") 0 0 no-repeat;
			}
		}
	}

	.btn-group {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;

		li {

			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 650px;
		overflow: hidden;
		padding: 70px 60px 85px 60px;
		background: url("../img/fin-sm-bg.jpg") 50% 0 no-repeat;
		background-size: cover;
		@include border-radius(5px);

		.fin-body {
			padding: 40px 70px 60px 70px;
		}

		.fin-header {
			padding: 0;
			color: #b8d781;
			background: #fff;
			font-size: 16px;
			line-height: 21px;
			margin-bottom: 30px;
		}

		.fin-content {
			padding: 0;

			.fin-test {

			}
		}

		.btn-group {
			margin: 0 -10px;
			text-align: center;

			li {
				padding: 0 10px;
				margin-bottom: 0;
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 750px;
		padding: 70px 100px 100px 100px;
	}
}


// Help Block

.help-block {
	padding-top: 20px;
	font-size: 14px;
	line-height: 21px;
	padding-bottom: 30px;

	&.help-block-support {

		h4 {
			color: #b8d781;
		}
	}

	h4 {
		color: #f8c109;
		font-size: 16px;
		font-weight: 700;
		line-height: 21px;
		margin-bottom: 20px;
		text-align: center;
	}

	p {
		margin-bottom: 15px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 40px 65px 20px 65px;

		h4 {
			text-align: left;
		}

		p {
			margin-bottom: 20px;
		}
	}
}

// Calc

.text-top {
	padding-top: 10px;
	margin-bottom: 20px;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 40px;
		padding-top: 20px;
	}
}

.calc {
	padding: 35px;
	margin: 0 -20px -30px -20px;
	background: url("../img/calc_bg.jpg") 50% 50% no-repeat;
	background-size: cover;
	@include border-radius(0 0 5px 5px);

	.calc-form {
		padding: 35px;
		background: #fff;
		@include border-radius(5px);

		.form-group {
			margin-bottom: 20px;
		}

		label {
			max-width: 220px;
			display: block;
			font-size: 14px;
			font-weight: 700;
			line-height: 21px;
			margin: 0 auto 5px auto;
			text-align: center !important;
		}

		.calc-result-value {
			color: #83c460;
			font-size: 42px;
			line-height: 44px;
			text-align: center;
			padding-top: 10px;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 60px 110px 90px 110px;
		margin: 0 -35px -30px -35px;

		.calc-form {
			padding: 70px 110px;

			.form-group {
				margin-bottom: 25px;
			}

			label {
				margin-bottom: 10px;
			}

			.calc-result {
				padding-top: 15px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 60px 165px 90px 165px;
		margin: 0 -50px -30px -60px;
	}
}

