// Diary

.diary-header {
	text-align: center;
	margin-bottom: 25px;
	padding-bottom: 25px;
	position: relative;
	border-bottom: 1px solid #eee;

	.diary-event {
		color: #555;
		font-size: 18px;
		line-height: 26px;
		text-align: center;
		margin-bottom: 20px;

		.diary-event-date {

		}

		.diary-event-day {
			font-style: italic;
		}
	}

	.diary-header-action {
		padding: 0;
		margin: 0 -5px;
		list-style: none;
		@include clearfix();

		>li {
			width: 50%;
			float: left;
			padding: 0 5px;

			&:first-child {
				text-align: left;
			}

			&:last-child {
				text-align: right;
			}
		}
	}

	.diary-btn-calendar {
		color: #fff;
		border: none;
		outline: none;
		font-size: 9px;
		font-weight: 700;
		line-height: 13px;
		position: relative;
		background: #b8d781;
		letter-spacing: 2px;
		display: inline-block;
		text-transform: uppercase;
		padding: 6px 12px 6px 40px;
		@include border-radius(6px 19px 19px 6px);

		&:before {
			top: 4px;
			left: 7px;
			content: '';
			width: 25px;
			height: 26px;
			position: absolute;
			background: url("../img/icon-calendar.png") 0 0 no-repeat;
			background-size: cover;
		}

		&:hover {
			background: #8cbc37;
		}
	}

	.diary-btn-detox {
		color: #fff;
		font-size: 9px;
		font-weight: 700;
		line-height: 12px;
		text-align: center;
		padding: 13px 12px;
		background: #f89c2a;
		letter-spacing: 2px;
		display: inline-block;
		text-transform: uppercase;
		@include border-radius(19px);

		&:hover {
			background: #f7a847;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 45px;

		.diary-event {
			top: 0;
			left: 200px;
			right: 200px;
			position: absolute;
		}

		.diary-btn-detox {
			padding: 16px 20px;
			@include border-radius(22px);
		}

		.diary-btn-calendar {
			font-size: 10px;
			padding: 9px 20px 9px 50px;
			@include border-radius(6px 22px 22px 6px);

			&:before {
				top: 6px;
				left: 10px;
				width: 29px;
				height: 30px;
			}

		}

		.diary-btn-detox {
			float: right;
		}
	}
}


.diary-error {
	margin-bottom: 35px;
	@include clearfix();

	.diary-brn-error {
		color: #fff;
		border: none;
		outline: none;
		font-size: 9px;
		font-weight: 700;
		line-height: 13px;
		position: relative;
		background: #f37c4d;
		display: inline-block;
		margin-bottom: 10px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding: 6px 20px;
		@include border-radius(19px);

		&:hover {
			background: #e68e6b;
		}
	}

	.diary-error-legend {
		color: #a2a2a2;
		font-size: 13px;
		line-height: 18px;
		font-style: italic;
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 45px;

		.diary-brn-error {
			float: left;
			font-size: 10px;
			padding: 9px 30px;
			@include border-radius(22px);
		}

		.diary-error-legend {
			margin-left: 175px;
		}
	}
}



.diary {
	margin-bottom: 40px;
}

.diary-heading {
	overflow: hidden;
	background: #fff;
	position: relative;
	margin-bottom: 15px;

	h3 {
		z-index: 5;
		margin-bottom: 0;
		background: #fff;
		position: relative;
		display: inline-block;
	}

	strong {
		color: #f8c109;
		font-size: 22px;
		font-weight: 700;
		line-height: 24px;
		padding-right: 5px;
		display: inline-block;

		> i {
			font-weight: 400;
		}
	}

	span {
		z-index: 5;
		color: #a2a2a2;
		font-size: 12px;
		padding-top: 10px;
		line-height: 12px;
		display: inline-block;
	}

	> i {

		width: 100%;
		color: #c8c8c8;
		display: block;
		font-size: 13px;
		line-height: 20px;
		max-width: 280px;
	}


	@media (min-width: $screen-sm-min) {

		&:before {
			left: 0;
			top: 18px;
			z-index: 1;
			content: '';
			width: 100%;
			position: absolute;
			border-bottom: 1px solid #f8c109;
		}

		h3 {
			padding-right: 5px;
		}
	}

	@media (min-width: $screen-md-min) {

	}
}

.diary-body {

	h4 {
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 10px;
	}


	.diary-nav {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 -6px 12px -6px;

		> li {
			position: relative;
			display: inline-block;
			margin: 0 6px 10px 6px;

			&.open {

				.diary-nav-dropdown {
					display: block;
				}
			}


			> a {
				color: #555;
				border: none;
				outline: none;
				font-size: 14px;
				padding: 2px 8px;
				line-height: 20px;
				display: inline-block;
				text-decoration: none;
				@include border-radius(4px);

				i {
					margin-left: 3px;
				}

				span {
					border-bottom: 1px dashed #555;
				}

				&:hover {

					span {
						border-bottom-color: transparent;
					}
				}
			}

			&.active {

				> a {
					color: #fff;
					background: #b8d781;

					span {
						border-bottom-color: transparent;
					}
				}
			}

			.diary-nav-dropdown {
				left: 0;
				top: 100%;
				z-index: 500;
				display: none;
				padding: 15px;
				background: #fff;
				position: absolute;
				border: 1px solid #eee;
				@include border-radius(5px);

				> li {

					> a {
						color: #555;
						border: none;
						outline: none;
						font-size: 14px;
						padding: 2px 8px;
						line-height: 20px;
						white-space: nowrap;
						display: inline-block;
						text-decoration: none;
						@include border-radius(4px);

						i {
							margin-left: 3px;
						}

						span {
							border-bottom: 1px dashed #555;
						}

						&:hover {

							span {
								border-bottom-color: transparent;
							}
						}
					}

					&.active {

						> a {
							color: #fff;
							background: #b8d781;

							span {
								border-bottom-color: transparent;
							}
						}
					}
				}
			}
		}
	}

	.diary-result {
		font-size: 14px;
		line-height: 20px;
		padding: 15px 20px;
		text-align: center;
		background: #edf5df;
		display: inline-block;
		@include border-radius(5px);

		p {
			margin-bottom: 10px;
		}

		.diary-products {
			font-weight: 700;
		}

		.diary-change {
			color: #a1a59a;
			display: inline-block;

			span {
				border-bottom: 1px dashed #a1a59a;
			}

			&:hover {

				span {
					border-bottom-color: transparent;
				}
			}
		}
	}
}



.ration {
	color: #555;
	max-width: 490px;
	padding: 25px 15px;
	background: #faf9f9;
	@include border-radius(5px);

	.ration-title {
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		margin-bottom: 30px;
	}

	.ration-table {
		width: 100%;
		margin-bottom: 20px;

		tr {}

		th {
			font-size: 12px;
			font-weight: 700;
			line-height: 14px;
			text-align: left;
			padding-right: 10px;
			padding-bottom: 5px;

			&:last-child {
				padding-right: 0;
			}
		}

		td {
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;
			text-align: left;
			padding: 2px 10px 2px 0;

			&:nth-child(2) {
				width: 70px;
				font-style: italic;
				@include opacity(0.4);
			}

			&:nth-child(3) {
				width: 70px;
				padding-right: 0;
			}
		}


		h4 {
			color: #f8c109;
			font-size: 12px;
			font-weight: 700;
			line-height: 14px;
			padding-top: 10px;
			margin-bottom: 10px;
		}

		.number {
			background: #fff;
			padding: 2px 3px 2px 5px;
			@include border-radius(4px);
			@include clearfix();

			input {
				float: left;
				width: 35px;
				height: 14px;
				border: none;
				outline: none;
				display: inline-block;
				font-size: 12px;
				font-weight: 400;
				line-height: 14px;
				background: transparent;
			}

			.weight {
				float: left;
				height: 14px;
				display: block;
			}

			.minus {
				float: left;
				width: 10px;
				height: 10px;
				display: block;
				margin-top: 2px;
				margin-right: 3px;
				background: url("../img/input-minus.png") 0 0 no-repeat;
			}

			.plus {
				float: left;
				width: 10px;
				height: 10px;
				display: block;
				margin-top: 2px;
				background: url("../img/input-plus.png") 0 0 no-repeat;
			}
		}
	}

	.btn-change {
		color: #555;
		font-size: 12px;
		line-height: 16px;
		margin-top: 10px;
		display: inline-block;
		text-decoration: none;

		span {
			font-weight: 700;
			text-decoration: underline;
		}
	}

	@media (min-width: $screen-sm-min) {

		width: 490px;
		padding: 40px 50px;

		.ration-table {

			td {
				&:nth-child(2) {
					width: 130px;
				}
			}
		}
	}
}


.violation {
	padding: 30px 15px;
	background: #faf9f9;
	@include border-radius(6px);

	.violation-title {
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
		margin-bottom: 20px;
	}

	.violations {

	}

	.violation-item {
		margin-bottom: 20px;
		@include clearfix();

		.violation-tag {
			width: 90px;
			float: left;

			.input-group {
				background: #fff;
				margin-bottom: 15px;
				border: 1px solid #eee;
				@include border-radius(4px);
				@include clearfix();


				.input-group-addon {
					width: 28px;
					float: left;
					display: block;
					color: #cecece;
					padding: 6px 0;
					font-size: 12px;
					line-height: 16px;
					text-align: center;
				}

				.violations-time {
					float: left;
					width: 60px;
					border: none;
					outline: none;
					color: #555555;
					display: block;
					font-size: 12px;
					padding: 6px 2px 6px 5px;
					line-height: 16px;
					text-align: left;
					background: transparent;
				}
			}

			.violation-remove {
				padding: 0;
				margin: 0;
				border: none;
				outline: none;
				color: #c6c6c6;
				font-size: 10px;
				line-height: 14px;
				text-align: center;
				background: transparent;

				span {
					border-bottom: 1px dashed #c6c6c6;
				}

				&:hover {

					span {
						border-bottom-color: transparent;
					}
				}
			}

		}

		.violation-content {
			margin-left: 115px;

			.form-control {
				color: #000;
				font-size: 12px;
				line-height: 18px;
				min-height: 100px;
				border-color: #eee;
				@include placeholder(#cacaca);
			}
		}
	}


	.violation-new {
		border: none;
		outline: none;
		color: #c6c6c6;
		font-size: 12px;
		line-height: 16px;
		text-decoration: none;

		.form-control {
			font-size: 12px;
			line-height: 18px;
		}


		span {
			border-bottom: 1px dashed #c6c6c6;
		}

		&:hover {

			span {
				border-bottom-color: transparent;
			}
		}
	}

	.violation-day {
		padding-top: 30px;
		margin-bottom: 35px;
	}


	.btn-text {
		margin: 0;
		padding: 0;
		border: none;
		outline: none;
		color: #c8c7c7;
		font-size: 12px;
		line-height: 16px;
		background: transparent;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 490px;
		padding: 50px;

		.violation-title {
			margin-bottom: 35px;
		}
	}
}