@font-face {
	font-family:'Lato';
	src: url('../fonts/Lato-Regular/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
	url('../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'),
	url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FEFF;
}

@font-face {
	font-family:'Lato';
	src: url('../fonts/Lato-Italic/Lato-Italic.eot');
	src: url('../fonts/Lato-Italic/Lato-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Lato-Italic/Lato-Italic.woff') format('woff'),
	url('../fonts/Lato-Italic/Lato-Italic.ttf') format('truetype'),
	url('../fonts/Lato-Italic/Lato-Italic.svg#Lato-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-FEFF;
}

@font-face {
	font-family:'Lato';
	src: url('../fonts/Lato-Bold/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'),
	url('../fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'),
	url('../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FEFF;
}



@font-face {
	font-family:'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-Regular/Playfair Display.eot');
	src: url('../fonts/PlayfairDisplay-Regular/Playfair Display.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PlayfairDisplay-Regular/Playfair Display.woff') format('woff'),
	url('../fonts/PlayfairDisplay-Regular/Playfair Display.ttf') format('truetype'),
	url('../fonts/PlayfairDisplay-Regular/Playfair Display.svg#Playfair Display') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB02;
}

@font-face {
	font-family:'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.eot');
	src: url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.woff') format('woff'),
	url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.ttf') format('truetype'),
	url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB02;
}

@font-face {
	font-family:'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot');
	src: url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff') format('woff'),
	url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf') format('truetype'),
	url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB02;
}

@font-face {
	font-family:'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.eot');
	src: url('../fonts/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.woff') format('woff'),
	url('../fonts/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
	url('../fonts/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB02;
}