.footer {
	color: #a2a2a2;
	background: #eee;
	padding-top: 30px;
	padding-bottom: 30px;

	.footer-nav {
		margin: 0;
		padding: 0;
		width: 80px;
		float: right;
		list-style: none;

		> li {

			a {
				color: #a2a2a2;
				font-size: 10px;
				line-height: 16px;
				font-weight: 700;
				padding-left: 12px;
				position: relative;
				margin-bottom: 5px;
				text-decoration: none;

				&:before {
					top: 0;
					left: 0;
					font-size: 10px;
					line-height: 1;
					color: #f8c109;
					content: "\f0da";
					position: absolute;
					font-family: FontAwesome;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&:hover {

					span {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.footer-subscribe {
		float: left;
		width: 185px;

		p {
			font-size: 10px;
			line-height: 15px;
			margin-bottom: 10px;
		}

		.form-subscribe {
			overflow: hidden;
			position: relative;

			.form-subscribe-control {
				margin: 0;
				width: 100%;
				color: #a3a2a2;
				outline: none;
				font-size: 10px;
				line-height: 20px;
				padding: 7px  38px 7px 15px;
				display: inline-block;
				background: #fff;
				border: 1px solid #fff;
				@include placeholder(#a3a2a2);
				@include border-radius(4px);

				&::-ms-clear {
					display: none;
					width: 0;
					height: 0;
				}

				&:focus {
					@include placeholder(transparent);
				}
			}

			.form-subscribe-btn {
				top: 0;
				right: 0;
				margin:0;
				color: #fff;
				width: 40px;
				height: 36px;
				border: none;
				outline: none;
				padding: 8px 0;
				cursor: pointer;
				font-size: 12px;
				font-weight: 700;
				line-height: 20px;
				text-align: center;
				position: absolute;
				background: #83c460;
				letter-spacing: 2px;
				display: inline-block;
				text-decoration: none;
				vertical-align: middle;
				background-image: none;
				text-transform: uppercase;
				touch-action: manipulation;
				@include border-radius(0 4px 4px 0);

				&:hover {
					color: #fff;
					background: #90ca70;
					text-decoration: none;
				}
			}
		}
	}

	.footer-text {
		float: left;
		width: 100%;
		font-size: 10px;
		text-align: center;
		padding-top: 25px;

		.footer-logo {
			color: #a2a2a2;
			font-weight: 700;
			margin-bottom: 10px;
			display: inline-block;
			text-transform: uppercase;
		}

		p {
			line-height: 1.5;
			font-style: italic;
			margin-bottom: 8px;
		}

		.footer-social {
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			margin: 0 -6px 8px -6px;

			li {
				padding: 0 8px;
				display: inline-block;

				a {
					color: #a2a2a2;
					font-size: 16px;
					line-height: 20px;
					text-decoration: none;
				}
			}
		}

		.footer-copy {

		}
	}



	@media (min-width: $screen-sm-min) {
		padding-top: 60px;
		padding-bottom: 60px;

		.footer-nav {
			float: left;
			width: 150px;

			> li {
				margin-bottom: 8px;

				a {
					font-size: 14px;
					line-height: 20px;

					&:before {
						font-size: 14px;
					}
				}
			}
		}

		.footer-subscribe {
			float: right;
			width: 265px;

			p {
				font-size: 14px;
				line-height: 21px;
				margin-bottom: 25px;
			}

			.form-subscribe {

				.form-subscribe-control {
					font-size: 14px;
				}
			}
		}

		.footer-text {
			float: left;
			width: 250px;
			font-size: 14px;
			padding-top: 0;
			text-align: left;

			.footer-logo {
				margin-bottom: 10px;
			}

			p {
				line-height: 21px;
				margin-bottom: 10px;
			}

			.footer-social {
				margin-bottom: 10px;

				> li {

					a {
						font-size: 16px;
					}
				}
			}

			.footer-copy {

			}
		}

		.footer-inner {
			float: right;
			width: 450px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-bottom: 70px;

		.footer-nav {

			> li {
				margin-bottom: 13px;

				a {

					i {

					}

					span {

					}
				}
			}
		}

		.footer-subscribe {
			font-size: 16px;
			width: 350px;
			margin-right: 15px;

			p {
				line-height: 24px;
			}
		}

		.footer-text {
			width: 300px;
			font-size: 16px;
			margin-left: 15px;

			.footer-logo {

			}

			p {
				line-height: 24px;
				margin-bottom: 15px;
			}

			.footer-social {
				margin-bottom: 15px;

				> li {

					a {

					}
				}
			}

			.footer-copy {

			}
		}

		.footer-inner {
			width: 765px;
		}
	}
}
