.header {
	z-index: 500;
	padding: 25px 0;
	background: #fff;
	position: relative;
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.15));

	.navbar-header {
		position: relative;

		.btn-yellow {
			margin-top: 5px;
		}

		.btn-yellow-border {
			color: #f8c109;
			float: right;
			margin-right: 30px;
			border-color: #f8c109;
			background: transparent;

			&:hover {
				color: #fff;
				background: #f8c109;
			}
		}
	}

	.header-logo {
		float: left;
		width: 50px;
		position: relative;
		display: inline-block;
	}

	.navbar-toggle {
		width: 100px;
		float: right;
		text-align: left;

		.nav-close {
			display: none;
		}

		&.open {

			.nav-open {
				display: none;
			}

			.nav-close {
				display: inline;
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		padding: 32px 0;

		.navbar-header {

			.btn-yellow {
				margin-top: 11px;
			}
		}

		.header-logo {
			width: 250px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 35px 0;

		.header-logo {
			width: 310px;
		}

		.navbar-header {
			float: left;
		}

		.navbar-toggle {
			display: none;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.nav {
	top: 62px;
	right: 15px;
	width: 215px;
	padding: 30px;
	display: none;
	position: absolute;
	background: #f8c109;
	@include border-radius(6px);


	.btn-yellow-border {
		border-color: #fff;
		background: transparent;
	}

	.btn-yellow {
		margin-bottom: 20px;
	}

	.nav-menu {
		margin: 0;
		padding: 0;
		display: block;
		list-style: none;

		> li {
			margin-bottom: 8px;

			a {
				color: #fff;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				text-decoration: none;
			}
		}
	}

	.nav-social {
		padding: 10px 0 0 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -8px;
		list-style: none;

		li {
			padding: 0 8px;
			display: inline-block;

			a {
				color: #fff;
				font-size: 16px;
				line-height: 20px;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		top: 68px;
	}

	@media (min-width: $screen-md-min) {
		top: auto;
		right: auto;
		padding: 0;
		width: auto;
		float: right;
		display: block;
		margin-top: 15px;
		position: relative;
		background: transparent;

		.btn-yellow-border {
			color: #fff;
			float: right;
			margin-bottom: 0;
			border-color: #f8c109;
			background: #f8c109;

			&:hover {
				color: #f8c109;
				background: transparent;
			}
		}

		.nav-menu {
			float: left;
			padding-top: 10px;

			> li {
				float: left;
				padding: 0 14px;

				a {
					color: #555;

					&:hover {
						color: #83c460;
					}
				}

				&.active  {

					a {

						&:hover {
							color: #83c460;
						}
					}
				}
			}
		}

		.nav-social {
			float: right;
			padding-top: 10px;
			margin-right: 46px;
			padding-left: 40px;


			li {
				padding: 0 6px;

				a {
					color: #555;

					&:hover {
						color: #83c460;
					}
				}
			}
		}
	}
}
