.block-overflow {
	overflow: hidden !important;
}

.cab-float {
	overflow: hidden;
	position: relative;

	.container {
		position: static;
	}
	@media (min-width: $screen-md-min) {
		position: relative;
	}
}

.blog-sidebar-toggle {
	top: 45px;
	left: -5px;
	bottom: 210px;
	z-index: 500;
	width: 10px;
	cursor: pointer;
	background: #83c460;
	position: absolute;
	@include border-radius(10px);

	span {
		top: 18px;
		left: -12px;
		width: 36px;
		height: 36px;
		cursor: pointer;
		background: #fff;
		position: absolute;
		border: 5px solid #83c460;
		@include border-radius(50%);

		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			background: #83c460;
			margin: -8px 0 0 -8px;
			@include border-radius(50%);
		}
	}


	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		display: none;
	}
}


.jumbotron {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;

	.jumbotron-slider {
		position: relative;
	}

	.slide-nav {
		bottom: 20px;
		z-index: 10;
		width: 23px;
		height: 39px;
		cursor: pointer;
		position: absolute;
		background: url("../img/slide_arrow.png") 0 0 no-repeat;

		&.prev {
			left: 20px;
			@include rotate(180deg);
		}

		&.next {
			left: 80px;
		}
	}

	.j-slide {
		border: none;
		outline: none;
		position: relative;

		&.slide_01 {
			background: url("../img/blog-slider_01.jpg") 65% 50% no-repeat;
			background-size: cover;
		}

		&.slide_02 {
			background: url("../img/blog-slider_01.jpg") 65% 50% no-repeat;
			background-size: cover;
		}

		&.slide_03 {
			background: url("../img/blog-slider_01.jpg") 65% 50% no-repeat;
			background-size: cover;
		}
	}

	.slider-col {
		padding-top: 240px;
		padding-bottom: 80px;
	}

	.slide-text {
		color: #fff;
		font-size: 28px;
		line-height: 38px;
		font-style: italic;

		span {
			margin-bottom: 5px;
			display: inline-block;
			background: #633000;
			padding: 2px 20px 2px 8px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.slide-nav {
			left: 50%;
			bottom: 50px;

			&.prev {
				left: 50%;
				margin-left: -365px;
			}

			&.next {
				left: 50%;
				margin-left: -290px;
			}
		}

		.j-slide {

			&.slide_01 {
				background-position: 60% 50%;
				background-size: auto;
			}

			&.slide_02 {
				background-position: 60% 50%;
				background-size: auto;
			}

			&.slide_03 {
				background-position: 60% 50%;
				background-size: auto;
			}
		}

		.slider-row {
			width: 100%;
			display: table;
		}

		.slider-col {
			padding: 0;
			height: 500px;
			display: table-cell;
			vertical-align: middle;
		}

		.slide-text {
			font-size: 58px;
			line-height: 58px;
			padding-bottom: 60px;

			span {
				margin-bottom: 12px;
				padding: 0 50px 4px 15px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.slide-nav {

			&.prev {
				margin-left: -570px;
			}

			&.next {
				margin-left: -505px;
			}
		}


		.j-slide {

			&.slide_01 {
				background-position: 50% 50%;
				background-size: cover;
			}

			&.slide_02 {
				background-position: 50% 50%;
				background-size: cover;
			}

			&.slide_03 {
				background-position: 50% 50%;
				background-size: cover;
			}
		}
	}
}

.blog-nav {
	z-index: 50;
	margin-bottom: 25px;
	@include clearfix();

	.blog-filter {
		float: left;
		position: relative;

		&.open {

			.filter-drop {
				visibility: visible;
				@include opacity(1);
				@include transition(.2s);
			}
		}

		.filter-value {
			cursor: pointer;
			color: #555555;
			font-size: 15px;
			line-height: 20px;

			span {
				font-weight: 700;
			}

			i {
				margin-left: 8px;
			}
		}


		.filter-drop {
			top: 100%;
			left: 20px;
			z-index: 200;
			padding: 10px 15px;
			background: #fff;
			margin: 3px 0 0 0;
			position: absolute;
			visibility: hidden;
			@include opacity(0);
			@include border-radius(5px);
			@include transition(.2s);

			li {
				padding: 6px 0;

				a {
					color: #555;
					font-size: 14px;
					font-weight: 700;
					line-height: 15px;
					white-space: nowrap;
					text-decoration: none;
					border-bottom: 1px dashed #555;
				}
			}

		}
	}

	.filter-search {
		float: right;
		font-size: 16px;
		line-height: 16px;

		a {
			color: #555;

			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 45px;

		.blog-filter {

			.filter-value {
				display: none;
			}

			.filter-drop {
				top: auto;
				left: auto;
				margin: 0;
				padding: 0;
				background: transparent;
				visibility: visible;
				position: relative;
				@include opacity(1);
				@include clearfix();

				li {
					float: left;
					padding: 0;
					margin-right: 30px;

					&:last-child {
						margin-right: 0;
					}

					a {
						padding: 5px 10px;
						font-size: 15px;
						line-height: 20px;
						display: inline-block;
						border-bottom: none;
						background: transparent;
						text-transform: uppercase;
						@include border-radius(4px);
					}

					&:nth-child(2) {

						a {
							color: #83c460;
						}
					}

					&:nth-child(3) {

						a {
							color: #f6924d;
						}
					}

					&:nth-child(4) {

						a {
							color: #f8c109;
						}
					}

					&.active {

						&:nth-child(1) {

							a {
								color: #fff;
								background: #555;
							}
						}

						&:nth-child(2) {

							a {
								color: #fff;
								background: #83c460;
							}
						}

						&:nth-child(3) {

							a {
								color: #fff;
								background: #f6924d;
							}
						}

						&:nth-child(4) {

							a {
								color: #fff;
								background: #f8c109;
							}
						}

					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 65px;

		.blog-filter {

			.filter-drop {

				li {
					margin-right: 60px;

					&:last-child {
						margin-right: 0;
					}

					a {
						font-size: 18px;
					}
				}
			}

			.filter-search {
				font-size: 18px;
				line-height: 18px;
			}
		}
	}
}

.post-list {
	padding: 0;
	max-width: 400px;
	list-style: none;
	margin: 0 auto 60px auto;
	@include clearfix();

	> li {
		margin-bottom: 30px;
	}

	@media (min-width: $screen-sm-min) {
		max-width: inherit;
		margin: 0 -15px 70px -15px;

		> li {
			width: 50%;
			float: left;
			padding: 0 15px;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -30px 70px -30px;

		> li {
			padding: 0 30px;
		}
	}
}

.blog-post {
	overflow: hidden;
	@include border-radius(5px);

	.blog-post-content {
		background: #fff;
		padding: 20px 20px 15px 20px;
	}

	.blog-post-group {
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 15px;
		display: inline-block;
		text-transform: uppercase;

		&.color-yellow {
			color: #f8c109;
		}

		&.color-orange {
			color: #f6924d;
		}

		&.color-green {
			color: #83c460;
		}

	}

	.blog-post-name {
		color: #555;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		margin-bottom: 20px;
		font-style: italic;

		a {
			color: #555;
			text-decoration: none;
		}
	}

	.blog-post-meta {
		color: #a2a2a2;
		font-size: 14px;
		line-height: 20px;

		a {
			color: #a2a2a2;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.blog-post-name {
			width: 100%;
			height: 190px;
			font-size: 25px;
			line-height: 35px;
			overflow: hidden;
			@include flexbox();

			a {
				margin: auto 0;
				display: inline-block;
			}
		}
	}


	@media (min-width: $screen-md-min) {

		.blog-post-name {
			width: 100%;
			height: 180px;
			font-size: 32px;
			line-height: 42px;
			overflow: hidden;
			@include flexbox();

			a {
				margin: auto 0;
				display: inline-block;
			}
		}
	}
}

.post-top {
	padding-top: 180px;
	padding-bottom: 20px;

	&.post-top-01 {
		background: url("../img/blog/blog_top_image.jpg") 0 50% no-repeat;
	}

	.post-top-content {
		min-height: 30px;
		background: #fff;
		padding: 20px 20px 10px 20px;
		@include border-radius(5px);
	}

	.post-top-group {
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 10px;
		text-transform: uppercase;

		&.color-yellow {
			color: #f8c109;
		}

		&.color-orange {
			color: #f6924d;
		}

		&.color-green {
			color: #83c460;
		}
	}

	.post-top-meta {
		color: #a2a2a2;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 30px;

		a {
			color: #a2a2a2;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.post-top-heading {
		color: #555;
		font-size: 27px;
		font-weight: 700;
		line-height: 30px;
		font-style: italic;
		margin-bottom: 50px;
	}

	.post-top-tags {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -5px;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			padding: 0 5px;
			margin-bottom: 10px;

			a {
				color: #555;
				padding: 3px 10px;
				font-size: 15px;
				line-height: 20px;
				display: inline-block;
				text-decoration: none;
				border: 1px solid #555;
				@include border-radius(3px);

				&:hover {
					color: #fff;
					background: #555;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		height: 500px;
		padding: 0;

		&.post-top-01 {
			background-position: 67% 50%;
		}

		.post-top-content {
			float: right;
			width: 325px;
			height: 500px;
			position: relative;
			padding: 50px 30px 40px 0;
		}

		.post-top-meta {
			margin-bottom: 50px;
		}

		.post-top-heading {
			font-size: 35px;
			line-height: 42px;
			margin-bottom: 0;
		}

		.post-top-tags {
			left: 0;
			bottom: 40px;
			position: absolute;
		}
	}

	@media (min-width: $screen-md-min) {

		&.post-top-01 {
			background-position: 50% 50%;
		}

		.post-top-content {
			width: 410px;
		}

		.post-top-group {
			font-size: 18px;
		}

		.post-top-meta {
			font-size: 16px;
		}

		.post-top-heading {
			font-size: 50px;
			line-height: 60px;
		}
	}
}

.blog-row {
	overflow: hidden;
	padding: 0 15px;
	margin: 0 -15px 15px -15px;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 30px;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 50px;
		position: relative;
	}
}

.blog-content {
	background: #fff;
	padding: 20px 20px 40px 20px;
	margin-bottom: 30px;
	@include border-radius(4px);

	.blog-image {
		margin: 0 -20px 40px -20px;
	}

	.blog-recipes {
		padding: 15px;
		background: #fef9e6;
		margin-bottom: 25px;
		@include border-radius(4px);

		p {
			margin-bottom: 15px;
		}

		ul {

			> li {
				padding-left: 10px;
				position: relative;
				margin-bottom: 10px;

				&:before {
					left: 0;
					top: 8px;
					width: 3px;
					height: 3px;
					content: '';
					position: absolute;
					background: #272727;
					@include border-radius(50%);
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.blog-footer {
		text-align: center;
		padding-top: 150px;
		background: url("../img/blog/mini-logo.png") 50% 60px no-repeat;

		p {
			max-width: 270px;
			font-size: 14px;
			line-height: 21px;
			font-style: italic;
			margin: 0 auto 15px auto;
		}
	}

	.blog-social {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -14px;
		list-style: none;
		text-align: center;

		> li {
			padding: 0 14px;
			display: inline-block;

			> a {
				color: #555;
				width: 45px;
				height: 45px;
				padding: 12px 0;
				font-size: 19px;
				line-height: 19px;
				text-align: center;
				display: inline-block;
				border: 1px solid #555;
				@include border-radius(3px);

				&:hover {
					color: #fff;
					background: #555;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 45px 50px;

		.blog-image {
			margin: 0 -50px 45px -50px;
		}

		.blog-recipes {
			padding: 30px 40px;
			margin: 0 30px 40px 30px;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 800px;
	}
}

.post-nav {
	max-width: 100%;
	overflow: hidden;

	.post-nav-row {
		margin: 0 -5px;
		@include flexbox();
	}

	.post-nav-item {
		width: 50%;
		margin: 0 5px;
		background: #fff;
		padding: 10px 15px 15px 15px;
		@include border-radius(5px);

		a {
			display: block;
			text-decoration: none;
		}
	}

	.post-nav-direction {
		font-size: 10px;
		font-weight: 700;
		line-height: 12px;
		margin-bottom: 10px;

		&.prev {
			color: #f6924d;
		}

		&.next {
			color: #f8c109;
		}
	}

	.post-nav-title {
		color: #555;
		font-size: 12px;
		font-weight: 700;
		line-height: 17px;
		font-style: italic;
	}

	@media (min-width: $screen-sm-min) {

		.post-nav-row {
			margin: 0 -15px;
		}

		.post-nav-item {
			padding: 25px;
			margin: 0 15px;
		}

		.post-nav-direction {
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 20px;
		}

		.post-nav-title {
			font-size: 25px;
			line-height: 34px;
		}
	}

	@media (min-width: $screen-md-min) {

		.post-nav-row {
			margin: 0 -30px;
		}

		.post-nav-item {
			margin: 0 30px;
			padding: 30px 45px;
		}

		.post-nav-title {
			font-size: 30px;
			line-height: 40px;
		}
	}
}

.blog-sidebar {
	top: 45px;
	left: 0;
	z-index: 500;
	width: 300px;
	background: #fff;
	position: absolute;
	padding: 40px 20px 40px 30px;
	border-top: 1px solid #83c460;
	border-right: 8px solid #83c460;
	border-bottom: 1px solid #83c460;
	@include border-radius(0 5px 5px 0);
	@include translate(-300px,0);
	@include transition(0.3s);



	&.open {
		@include translate(0,0);
		@include transition(0.3s);
	}

	.side-subscribe {
		float: left;
		width: 100%;
		margin-bottom: 50px;

		p {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
		}

		.form-subscribe {
			overflow: hidden;
			position: relative;

			.form-subscribe-control {
				margin: 0;
				width: 100%;
				color: #a3a2a2;
				outline: none;
				font-size: 14px;
				line-height: 20px;
				padding: 7px  38px 7px 15px;
				display: inline-block;
				background: #eee;
				border: 1px solid #fff;
				@include placeholder(#a3a2a2);
				@include border-radius(4px);

				&::-ms-clear {
					display: none;
					width: 0;
					height: 0;
				}

				&:focus {
					@include placeholder(transparent);
				}
			}

			.form-subscribe-btn {
				top: 0;
				right: 0;
				margin:0;
				color: #fff;
				width: 40px;
				height: 36px;
				border: none;
				outline: none;
				padding: 8px 0;
				cursor: pointer;
				font-size: 12px;
				font-weight: 700;
				line-height: 20px;
				text-align: center;
				position: absolute;
				background: #83c460;
				letter-spacing: 2px;
				display: inline-block;
				text-decoration: none;
				vertical-align: middle;
				background-image: none;
				text-transform: uppercase;
				touch-action: manipulation;
				@include border-radius(0 4px 4px 0);

				&:hover {
					color: #fff;
					background: #90ca70;
					text-decoration: none;
				}
			}
		}
	}

	.side-top {
		text-align: center;
		margin-bottom: 50px;

		.side-top-title {
			color: #f6924d;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 20px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				position: relative;
				margin-bottom: 10px;
				padding-bottom: 12px;

				&:before {
					left: 50%;
					bottom: 0;
					content: '';
					width: 50px;
					height: 2px;
					margin-left: -25px;
					position: absolute;
					background: #f6924d;
				}

				a {
					color: #555;
					font-size: 16px;
					line-height: 20px;
					text-decoration: none;

					&:hover {
						color: #f6924d;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.side-instagram {
		overflow: hidden;
		@include border-radius(5px);

		.side-instagram-header {
			padding: 10px;
			background: #83c460;
			@include clearfix();

			i {
				color: #fff;
				float: left;
				height: 20px;
				font-size: 20px;
				line-height: 20px;
			}

			a {
				color: #fff;
				float: right;
				font-size: 16px;
				line-height: 20px;
				display: inline-block;
				text-decoration: none;
			}
		}
		ul {
			margin: 0;
			list-style: none;
			background: #f5f5f5;
			padding: 15px 9px 5px 9px;
			@include clearfix();

			li {
				float: left;
				width: 50%;
				padding: 0 6px;
				margin-bottom: 12px;
			}
		}
	}


	@media (min-width: $screen-md-min) {
		top: 0;
		right: 15px;
		left: auto;
		width: 300px;
		border: none;
		@include translate(0,0);
		@include border-radius(5px);
	}
}

