.recipes-nav {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -8px 20px -8px;
	list-style: none;

	> li {
		float: left;
		position: relative;
		margin: 0 8px 8px 8px;

		&:first-child {
			margin-left: 2px;
		}

		> a {
			color: #555;
			padding: 5px 5px;
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			display: inline-block;
			text-decoration: none;
			@include border-radius(4px);
			border: 1px solid transparent;

			span {
				border-bottom: 1px dashed #555;
			}

			&:hover {
				span {
					border-bottom-color: transparent;
				}
			}
		}

		.drop-nav {
			right: 0;
			top: 100%;
			margin: 0;
			z-index: 1000;
			display: none;
			background: #fff;
			list-style: none;
			padding: 15px 20px;
			position: absolute;
			border: 1px solid #eee;
			@include border-radius(4px);

			> li {
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #555;
					width: 100%;
					font-size: 12px;
					line-height: 15px;
					text-align: left;
					display: inline-block;
					text-decoration: none;

					span {
						border-bottom: 1px dashed #555;
					}

					&:hover {

						span {
							border-bottom-color: transparent;
						}
					}
				}
			}
		}

		&.active {

			> a {

				border-color: #555;

				span {
					border-bottom-color: transparent;
				}
			}
		}

		&:hover {

			> a {

				span {
					border-bottom-color: transparent;
				}
			}

			.drop-nav {
				display: block;
			}
		}

		.form-search {
			display: inline-block;

			.form-search-input {
				width: 92px;
				outline: none;
				font-size: 12px;
				line-height: 15px;
				padding: 5px 10px 5px 28px;
				border: 1px solid #c6c6c6;
				background: #fff url("../img/icon-loop.png") 10px 50% no-repeat;
				@include border-radius(12px);

				&::-ms-clear {
					width: 0;
					height: 0;
					display: none;
				}

			}
		}
	}


	@media (min-width: $screen-sm-min) {

		> li {
			margin-bottom: 0;

			&:last-child {
				float: right;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		> li {

			> a {
				font-size: 14px;
				line-height: 17px;
			}

			.form-search {

				.form-search-input {
					width: 100px;
					font-size: 14px;
					line-height: 17px;
				}
			}
		}
	}
}


.recipes {
	margin-bottom: 50px;

	.recipes-img {
		height: 150px;
		overflow: hidden;
		max-width: 360px;
		margin: 0 0 20px 0;
		@include border-radius(4px);
	}


	.recipes-text {
		color: #555;
		font-size: 12px;
		line-height: 18px;

		h3 {
			color: #555;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 10px;
		}

		h4 {
			font-size: 12px;
			font-weight: 700;
			line-height: 14px;
			margin-bottom: 7px;
		}

		.recipes-tags {
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			margin: 0 -5px 20px -5px;

			li {
				margin: 0 5px;
				display: inline-block;

				a {
					color: #fff;
					border: none;
					outline: none;
					padding: 3px 8px;
					font-size: 12px;
					line-height: 19px;
					display: inline-block;
					text-decoration: none;
					@include border-radius(4px);
				}

				&.tag-green {

					a {
						background: #83c460;
					}
				}

				&.tag-gray {

					a {
						background: #a2a2a2;
					}
				}

				&.tag-yellow {

					a {
						background: #f8c109;
					}
				}

				&.tag-red {

					a {
						background: #f37c4d;
					}
				}

				&.tag-red {

					a {
						background: #f37c4d;
					}
				}
				&.tag-brown {

					a {
						background: #f37c4d;
					}
				}

				&.tag-aqua {

					a {
						background: #91dabd;
					}
				}
			}
		}

		table {
			width: 100%;
			max-width: 330px;
			margin-bottom: 20px;

			tr {

				td {
					padding: 0 5px;

					&:first-child {
						font-style: italic;
					}

					&:last-child {
						text-align: right;
					}
				}
			}
		}

		p {
			margin-bottom: 5px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.recipes-img {
			margin: 0;
			float: left;
			width: 190px;
			height: auto;
		}

		.recipes-text {
			float: right;
			width: 450px;
		}
	}
	@media (min-width: $screen-md-min) {

		.recipes-img {
			width: 195px;
		}

		.recipes-text {
			width: 500px;
		}
	}
}