
.widget {
	margin-bottom: 40px;

	h4 {
		color: #f8c109;
		margin-bottom: 20px;
	}

	.widget-result {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;

			i {
				width: 20px;
				height: 20px;
				font-size: 14px;
				font-weight: 700;
				line-height: 14px;
				padding: 1px 0;
				font-style: normal;
				text-align: center;
				display: inline-block;
				border: 2px solid #555;
				@include border-radius(50%);
			}
		}
	}

	.widget-week {
		padding: 0;
		list-style: none;
		margin: 0 0 20px 0;
		@include clearfix();

		li {
			float: left;
			width: 60px;
			margin-bottom: 5px;

			&:last-child {
				width: 100%;
			}

			span {
				display: block;
				font-size: 12px;
				font-weight: 700;
				line-height: 20px;
			}

			p {
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 0;
			}

			a {
				font-size: 12px;
				font-style: italic;
				text-decoration: none;
				border-bottom: 1px dotted #555;

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}
	}

	.widget-summary {
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 30px;

		span {
			color: #b8d781;
		}
	}

	.widget-info {
		padding: 0;
		font-size: 14px;
		list-style: none;
		line-height: 24px;
		margin: 0 0 20px 0;
	}

	.schedule-nav {
		margin: 0 0 20px 0;
		@include clearfix();

		a {
			color: #fff;
			float: left;
			width: 21px;
			height: 21px;
			display: block;
			padding: 3px 0;
			cursor: pointer;
			font-size: 15px;
			line-height: 15px;
			background: #b8d781;
			text-align: center;
			@include border-radius(50%);

			&:hover {
				background: #d7fa98;
			}
		}

		.schedule-title {
			padding: 0;
			margin: 0;
			float: left;
			width: 70px;
			list-style: none;

			li {
				display: none;
				padding: 3px 0;
				font-size: 12px;
				line-height: 15px;
				text-align: center;

				&.active {
					display: block;
				}
			}
		}
	}

	.schedule {

		ul {
			padding: 0;
			list-style: none;
			@include clearfix();
			margin: 0 -5px 15px 0;

			li {
				float: left;
				padding: 0 5px 10px 5px;

				&:nth-child(1) {

					.form-control-min {
						width: 60px;
					}
				}

				&:nth-child(2) {

					.form-control-min {
						width: 40px;
					}
				}

				&:nth-child(3) {

					.form-control-min {
						width: 60px;
					}
				}

				&:nth-child(4) {

					.form-control-min {
						width: 40px;
					}
				}

				&:nth-child(5) {
					width: 100%;

					.form-control-min {
						width: 100%;
						text-align: left;
					}
				}
			}
		}

		span {
			font-size: 12px;
			line-height: 20px;
			padding: 5px 5px;
			display: inline-block;
		}
	}

	.widget-params {
		width: 100%;

		th {
			font-size: 8px;
			font-weight: 400;
			font-style: inherit;
			text-align: left;
			padding-bottom: 5px;
		}

		td {
			font-size: 12px;
			line-height: 20px;

			.form-control-min {
				line-height: 16px;
				padding: 1px 5px;
				border-color: #555;
			}

			&:last-child {

				.form-control-min {
					width: 40px;
				}

				span {
					font-size: 12px;
					line-height: 20px;
					display: inline-block;
					padding: 5px 0 5px 5px;
				}
			}

			.btn-params-new {
				margin: 0;
				color: #fff;
				width: 40px;
				border: none;
				outline: none;
				cursor: pointer;
				font-size: 12px;
				font-weight: 400;
				line-height: 12px;
				padding: 4px 4px;
				text-align: center;
				position: relative;
				background: #83c460;
				letter-spacing: 2px;
				display: inline-block;
				text-decoration: none;
				vertical-align: middle;
				background-image: none;
				text-transform: uppercase;
				touch-action: manipulation;
				@include border-radius(3px);

				&:hover {
					color: #fff;
					background: #90ca70;
					text-decoration: none;
				}
			}
		}

		tfoot {

			td {
				padding-top: 5px;
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		margin-bottom: 50px;

		.widget-inner {
			margin-left: 60px;
		}

		.widget-week {
			margin-bottom: 30px;

			li {
				width: 100px;
				margin-bottom: 0;

				&:last-child {
					width: 100px;
				}

				span {
					font-size: 14px;
					font-weight: 400;
				}

				p {
					font-size: 21px;
					line-height: 26px;
				}

				a {
					font-size: 14px;
				}
			}
		}

		.widget-summary {

			span {
				font-size: 21px;
				font-weight: 400;
			}
		}

		.schedule {

			ul {
				width: 100%;
				display: table;
				margin: 0 0 15px 0;

				li {
					padding: 0;
					float: inherit;
					display: table-cell;

					&:nth-child(1) {
						width: 85px;
					}

					&:nth-child(2) {
						width: 65px;
					}

					&:nth-child(3) {
						width: 105px;
					}

					&:nth-child(4) {
						width: 150px;
					}

					&:nth-child(5) {
						width: auto;
						text-align: right;

						.form-control-min {
							width: 240px;
							text-align: left;
						}
					}
				}
			}

		}

		.schedule-new {
			text-align: right;

			.btn {
				font-size: 8px;
				font-weight: 700;
				padding: 3px 25px;
			}
		}

		.widget-params {

			width: 490px;

			th {
				&:first-child {
					width: 125px;
				}

				&:nth-child(2) {
					text-align: center;
				}

				&:nth-child(3) {
					text-align: center;
				}

				&:last-child {
					padding-left: 10px;
				}
			}

			th {
				font-size: 14px;
			}

			td {
				font-size: 14px;
				text-align: center;

				&:first-child {
					text-align: left;
				}

				&:last-child {
					text-align: left;
					padding-left: 10px;

					.form-control-min {
						margin-left: 20px;
					}

					.btn-params-new {
						margin-left: 20px;
					}
				}
			}
		}
	}
}

.chart-box {
	@include clearfix();

	.chart-box-image {
		width: 54px;
		float: left;
	}

	.chart-box-legend {
		margin-left: 70px;

		p {
			font-size: 14px;
			margin-bottom: 0;
			line-height: 24px;

			&.chart01 {
				color: #555;
			}

			&.chart02 {
				color: #83c460;
			}

			&.chart03 {
				color: #f37c4d;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.chart-box-image {
			width: 80px;
		}

		.chart-box-legend {
			margin-left: 110px;
		}
	}

	@media (min-width: $screen-md-min) {

		.chart-box-legend {
			margin-left: 105px;
		}
	}
}


.form-control-min {
	margin: 0;
	color: #555;
	outline: none;
	font-size: 10px;
	line-height: 18px;
	padding: 5px 5px;
	text-align: center;
	display: inline-block;
	border: 1px solid #ccc;
	background: transparent;
	@include border-radius(3px);
	@include placeholder(#ccc);

	&::-ms-clear {
		width: 0;
		height: 0;
		display: none;
	}

	&:focus {
		padding: 5px 5px;
		border-color: #ccc;
		@include placeholder(transparent);
	}
}
