.btn-yellow {
	color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 10px;
	font-weight: 700;
	line-height: 20px;
	padding: 8px 20px;
	text-align: center;
	position: relative;
	background: #f8c109;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	border: 2px solid #f8c109;
	touch-action: manipulation;
	@include border-radius(20px);
}


.btn {
	margin:0;
	color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	padding: 18px 35px;
	text-align: center;
	position: relative;
	background: #f89c2a;
	letter-spacing: 2px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	touch-action: manipulation;
	border: 2px solid #f89c2a;
	@include border-radius(35px);

	&:hover {
		color: #fff;
		background: #f9a640;
		text-decoration: none;
		border-color: #f9a640;
	}

	&:active {
		top: 1px;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 16px;
		padding: 21px 35px;
	}
}

.btn-white {
	color: #fff;
	border-color: #fff;
	background: transparent;

	&:hover {
		color: #272727;
		border-color: #fff;
		background: #fff;
	}
}


.btn-green {

	background: #83c460;
	border-color: #83c460;

	&:hover {
		background: #90ca70;
		border-color: #90ca70;
	}

	@media (min-width: $screen-sm-min) {
		padding: 21px 50px;
	}
}

.btn-light-green {
	font-size: 10px;
	padding: 9px 20px;
	background: #b8d781;
	border: 1px solid #b8d781;

	&:hover {
		background: #89b737;
		border-color: #89b737;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 10px;
		padding: 8px 20px;
	}
}


.btn-light-green-border {
	color: #b8d781;
	font-size: 10px;
	padding: 9px 20px;
	background: transparent;
	border: 1px solid #b8d781;

	&:hover {
		color: #fff;
		background: #89b737;
		border-color: #89b737;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 10px;
		padding: 9px 20px;
	}
}

.btn-orange-border {
	color: #f8c109;
	font-size: 10px;
	padding: 8px 20px;
	background: transparent;
	border-color: #f8c109;

	&:hover {
		color: #fff;
		background: #f8c109;
		border-color: #f8c109;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 10px;
		padding: 8px 20px;
	}
}

.btn-sm {
	padding: 8px 20px;

	@media (min-width: $screen-sm-min) {
		padding: 13px 25px;
	}
}

.inactive {
	cursor: default;
	background: #dedede !important;
	border-color: #dedede !important;

	&:hover {
		background: #dedede;
		border-color: #dedede;
	}

	&:active {
		top: 0;
	}
}

