.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #cacaca;
	font-size: 14px;
	line-height: 20px;
	padding: 9px 20px;
	background: #fcfcfc;
	display: inline-block;
	border: 1px solid #dedede;
	@include border-radius(5px);
	@include placeholder(#cacaca);

	&::-ms-clear {
		width: 0;
		height: 0;
		display: none;
	}

	&:focus {
		border-color: #a2a2a2;
		@include placeholder(transparent);
	}

	.form-control-sm {
		width: 60px;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 16px;
	}
}


.form-num {
	position: relative;

	.form-control {
		padding-left: 15px;
		background: #fcfcfc url("../img/input-number.png") 100% 50% no-repeat;
	}

	span {
		right: 5px;
		width: 14px;
		height: 14px;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		&.plus {
			top: 5px;
		}

		&.minus {
			bottom: 5px;
		}
	}
}


.red {

	.form-control {
		border-color: #ff0000;
	}
}


label {
	color: #555;
	font-size: 14px;
	line-height: 26px;
	display: inline-block;
	font-weight: 700;

	@media (min-width: $screen-sm-min) {
		font-size: 16px;
	}
}

.label-text  {
	color: #555;
	font-size: 10px;
	line-height: 15px;
	font-style: italic;
	margin-bottom: 12px;

	@media (min-width: $screen-sm-min) {
		font-size: 12px;
	}
}

.form-group {
	margin-bottom: 15px;
}


.form-group-list {
	padding: 0;
	margin: 0 -12px;
	list-style: none;

	> li {
		padding: 0 12px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.form-group-list-sm {

		.icr-label {
			font-size: 12px;
			line-height: 18px;
			min-height: 20px;
		}

	}


	@media (min-width: $screen-sm-min) {

		&.form-group-list {

			> li {
				display: block;
			}
		}

		> li {
			display: inline-block;
			margin-bottom: 15px;
		}

		&.form-group-list-sm {

			.icr-label {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}

.icr-label {
	color: #a2a2a2;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding-left: 30px;
	position: relative;
	display: inline-block;
	vertical-align: middle;

	.icr-hidden {
		display: none;
	}

	.icr-text {

		a {
			color: #272727;
			text-decoration: underline;
		}
	}

	.icr-item {
		top: 0;
		left: 0;
		position: absolute;
		display: inline-block;
	}

	.type_checkbox {
		width: 20px;
		height: 20px;
		border: 1px solid #dedede;
		@include border-radius(4px);

		&:before {
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			content: '';
			display: none;
			position: absolute;
			background: url("../img/checkbox.png") 3px 4px no-repeat;
		}
	}

	.type_radio {
		width: 20px;
		height: 20px;
		border: 2px solid #dedede;
		@include border-radius(50%);

		&:before {
			top: 4px;
			left: 4px;
			width: 8px;
			height: 8px;
			content: '';
			display: none;
			position: absolute;
			background: #b8d781;
			@include border-radius(50%);
		}
	}

	&.checked {
		color: #b8d781;

		.type_checkbox {
			background: #b8d781;
			border-color: #b8d781;

			&:before {
				display: block;
			}
		}

		.type_radio {
			border-color: #b8d781;

			&:before {
				display: block;
			}
		}
	}

	&.disabled {
		color: #ddd !important;

		.type_radio {
			border-color: #ddd !important;

			&:before {

			}
		}
	}
}


.form-btn {
	text-align: center;
	padding-top: 15px;
}

.yes-no {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: center;
	display: inline-block;

	> li {
		position: relative;
		display: inline-block;

		&:first-child {

			&:after {
				top: 4px;
				right: 0;
				bottom: 4px;
				content: '';
				position: absolute;
				border-left: 1px solid #dedede;
			}

			label {
				border-right: none;
				@include border-radius(3px 0 0 3px);

				&.checked {
					color: #fff;
					background: #b8d781;
					border-color: #b8d781;
				}
			}
		}

		&:last-child {
			margin-left: -1px;

			label {
				border-left: none;
				@include border-radius(0 3px 3px 0);

				&.checked {
					color: #fff;
					background: #dedede;
					border-color: #dedede;
				}
			}
		}
	}

	label {
		width: 75px;
		padding: 7px 0;
		color: #dedede;
		font-size: 14px;
		cursor: pointer;
		line-height: 21px;
		display: inline-block;
		border: 1px solid #dedede;

		.icr-item {
			display: none !important;
		}
	}
}

textarea {
	resize: none;
}

.btn-form {
	text-align: center;

	@media (min-width: $screen-sm-min) {
		text-align: right;
	}
}
