.page-nav {
	margin: 0 -10px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: center;

	li {
		margin: 0 3px;
		padding: 5px 0;
		display: inline-block;

		a {
			outline: none;
			width: 26px;
			height: 26px;
			color: #a2a2a2;
			padding: 2px 0;
			cursor: pointer;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			display: inline-block;
			border: 1px solid transparent;
			@include border-radius(4px);
		}

		&.active {

			a {
				color: #fff;
				cursor: default;
				background: #dedede;
				border-color: #dedede;
			}
		}

		&:first-child,
		&:last-child {
			padding: 0;

			a {
				height: 36px;
				padding: 7px 0;
				border-color: #dedede;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -15px;

		li {
			padding: 7px 0;
			margin: 0 15px;

			a {
				width: 30px;
				height: 30px;
				padding: 4px 0;
			}

			&:first-child,
			&:last-child {
				padding: 0;

				a {
					width: 50px;
					height: 40px;
					padding: 7px 0;
					border-color: #dedede;

				}
			}

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
			}
		}
	}
}


.pag {
	margin: 0 -5px;
	padding: 40px 0 0 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: left;

	li {
		margin: 0 5px;
		display: inline-block;

		a {
			outline: none;
			width: 26px;
			height: 26px;
			color: #a2a2a2;
			padding: 2px 0;
			cursor: pointer;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			display: inline-block;
			border: 1px solid transparent;
			@include border-radius(4px);
		}

		span {
			color: #a2a2a2;
			font-size: 14px;
			line-height: 20px;
		}

		&.active {

			a {
				color: #fff;
				cursor: default;
				background: #dedede;
				border-color: #dedede;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -10px;

		li {
			margin: 0 10px;

			a {
				width: 30px;
				height: 30px;
				padding: 4px 0;
			}
		}
	}
}